
# Summary of Rainfall Runoff datasets

In [1]:
import os
import site

wd_dir = os.path.dirname(os.path.dirname(os.path.dirname(os.path.dirname(os.path.realpath('__file__')))))
#wd_dir = os.path.dirname(os.path.dirname(os.path.realpath('__file__')))
# wd_dir = os.path.dirname(os.path.realpath('__file__'))
print(wd_dir)
site.addsitedir(wd_dir)

import textwrap

from water_datasets.utils import print_info
from water_datasets import RainfallRunoff

print_info()

gscad_path = '/mnt/datawaha/hyex/atr/gscad_database/raw'

/home/abbaa0a/water-datasets

numpy 1.26.4
pandas 1.5.3
water_datasets 0.1.0
python 3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:12:24) [GCC 11.2.0]
os posix
matplotlib 3.8.4
shapefile 2.3.1
xarray 2024.7.0
netCDF4 1.6.2
scipy 1.13.0
Script Executed on:  18 October 2024 21:11:56
tot_cpus 112
avail_cpus 112
mem_gib 251.52819442749023

## CAMELS_AUS

In [2]:
dataset = RainfallRunoff('CAMELS_AUS', path=os.path.join(gscad_path, 'CAMELS_AUS_V1'), version=1, verbosity=0)
print(dataset)

RainfallRunoff(CAMELS_AUS) with 222 stations, 26 dynamic and 166 static features

In [3]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

station_name, drainage_division, river_region, notes, lat_outlet, long_outlet, lat_centroid,
long_centroid, map_zone, catchment_area, state_outlet, state_alt, daystart, daystart_P, daystart_Q,
nested_status, next_station_ds, num_nested_within, start_date, end_date, prop_missing_data,
q_uncert_num_curves, q_uncert_n, q_uncert_q10, q_uncert_q10_upper, q_uncert_q10_lower, q_uncert_q50,
q_uncert_q50_upper, q_uncert_q50_lower, q_uncert_q90, q_uncert_q90_upper, q_uncert_q90_lower,
p_mean, pet_mean, aridity, p_seasonality, frac_snow, high_prec_freq, high_prec_dur,
high_prec_timing, low_prec_freq, low_prec_dur, low_prec_timing, q_mean, runoff_ratio, stream_elas,
slope_fdc, baseflow_index, hdf_mean, Q5, Q95, high_q_freq, high_q_dur, low_q_freq, low_q_dur,
zero_q_freq, geol_prim, geol_prim_prop, geol_sec, geol_sec_prop, unconsoldted, igneous, silicsed,
carbnatesed, othersed, metamorph, sedvolc, oldrock, claya, clayb, sanda, solum_thickness, ksat,
solpawhc, elev_min, elev_max, elev_mean, elev_range, mean_slope_pct, upsdist, strdensity, strahler,
elongratio, relief, reliefratio, mrvbf_prop_0, mrvbf_prop_1, mrvbf_prop_2, mrvbf_prop_3,
mrvbf_prop_4, mrvbf_prop_5, mrvbf_prop_6, mrvbf_prop_7, mrvbf_prop_8, mrvbf_prop_9, confinement,
lc01_extracti, lc03_waterbo, lc04_saltlak, lc05_irrcrop, lc06_irrpast, lc07_irrsuga, lc08_rfcropp,
lc09_rfpastu, lc10_rfsugar, lc11_wetlands, lc14_tussclo, lc15_alpineg, lc16_openhum, lc18_opentus,
lc19_shrbsca, lc24_shrbden, lc25_shrbope, lc31_forclos, lc32_foropen, lc33_woodope, lc34_woodspa,
lc35_urbanar, prop_forested, nvis_grasses_n, nvis_grasses_e, nvis_forests_n, nvis_forests_e,
nvis_shrubs_n, nvis_shrubs_e, nvis_woodlands_n, nvis_woodlands_e, nvis_bare_n, nvis_bare_e,
nvis_nodata_n, nvis_nodata_e, distupdamw, impound_fac, flow_div_fac, leveebank_fac, infrastruc_fac,
settlement_fac, extract_ind_fac, landuse_fac, catchment_di, flow_regime_di, river_di, pop_mean,
pop_max, pop_gt_1, pop_gt_10, erosivity, anngro_mega, anngro_meso, anngro_micro, gromega_seas,
gromeso_seas, gromicro_seas, npp_ann, npp_1, npp_2, npp_3, npp_4, npp_5, npp_6, npp_7, npp_8, npp_9,
npp_10, npp_11, npp_12

In [4]:
df = dataset.fetch_static_features()
print(df.shape)

(222, 166)

In [5]:
print(df.isna().sum().sum())
df.isna().sum()

1175

station_name         0
drainage_division    0
river_region         0
notes                0
lat_outlet           0
                    ..
npp_8                0
npp_9                0
npp_10               0
npp_11               0
npp_12               0
Length: 166, dtype: int64

find those columns which have at least one NaN value

In [6]:
df.loc[:, (df.isna().sum()>0)]

,state_alt,next_station_ds,q_uncert_num_curves,q_uncert_n,q_uncert_q10,q_uncert_q10_upper,q_uncert_q10_lower,q_uncert_q50,q_uncert_q50_upper,q_uncert_q50_lower,q_uncert_q90,q_uncert_q90_upper,q_uncert_q90_lower
station_id,,,,,,,,,,,,,
912101A,NT,NaN,3.0,15226.0,0.015122,25.07%,-21.06%,0.027200,20.06%,-17.82%,0.121670,18.46%,-15.13%
912105A,NT,912101A,1.0,15232.0,0.016572,196.84%,-93.24%,0.031969,129.72%,-77.38%,0.161384,49.79%,-40.02%
915011A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917107A,NaN,NaN,2.0,15772.0,0.001552,143.47%,-66.93%,0.036077,51.70%,-37.00%,0.371124,26.85%,-22.30%
919003A,NaN,NaN,1.0,14933.0,0.004731,21.65%,-18.16%,0.053229,15.45%,-13.59%,1.273285,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
312061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

state_alt              212
next_station_ds        192
q_uncert_num_curves     56
q_uncert_n              56
q_uncert_q10            56
q_uncert_q10_upper     118
q_uncert_q10_lower     118
q_uncert_q50            56
q_uncert_q50_upper      66
q_uncert_q50_lower      67
q_uncert_q90            56
q_uncert_q90_upper      61
q_uncert_q90_lower      61
dtype: int64

In [8]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

26
streamflow_MLd, streamflow_MLd_inclInfilled, streamflow_mmd, et_morton_actual_SILO,
et_morton_point_SILO, et_morton_wet_SILO, et_short_crop_SILO, et_tall_crop_SILO,
evap_morton_lake_SILO, evap_pan_SILO, evap_syn_SILO, precipitation_AWAP, precipitation_SILO,
precipitation_var_AWAP, solarrad_AWAP, tmax_AWAP, tmin_AWAP, vprp_AWAP, mslp_SILO, radiation_SILO,
rh_tmax_SILO, rh_tmin_SILO, tmax_SILO, tmin_SILO, vp_deficit_SILO, vp_SILO

In [9]:
dataset = RainfallRunoff('CAMELS_AUS', path=os.path.join(gscad_path, 'CAMELS'), version=2, verbosity=0)
print(dataset)
print(textwrap.fill(", ".join(dataset.static_features), width=100))

RainfallRunoff(CAMELS_AUS) with 561 stations, 26 dynamic and 187 static features

station_name, drainage_division, river_region, notes, lat_outlet, long_outlet, lat_centroid,
long_centroid, map_zone, catchment_area, state_outlet, state_alt, daystart, daystart_P, daystart_Q,
nested_status, next_station_ds, num_nested_within, start_date, end_date, prop_missing_data,
q_uncert_unique_curves, q_uncert_rmse_all, q_uncert_rmse_lower, q_uncert_rmse_upper,
q_uncert_days_above, q_uncert_Q_above, p_mean, pet_mean, aridity, p_seasonality, frac_snow,
high_prec_freq, high_prec_dur, high_prec_timing, low_prec_freq, low_prec_dur, low_prec_timing,
sig_mag_BaseMag, sig_mag_BFI, sig_mag_Q_7_day_max, sig_mag_Q_7_day_min, sig_mag_Q_CoV,
sig_mag_Q_mean, sig_mag_Q_skew, sig_mag_Q_var, sig_mag_Q5, sig_mag_Q95, sig_mag_VarIdx,
sig_freq_high_Q_freq, sig_freq_low_Q_freq, sig_freq_zero_Q_freq, sig_dur_RespTime,
sig_dur_high_Q_dur, sig_dur_low_Q_dur, sig_dur_zero_Q_dur, sig_timing_HFD_mean, sig_timing_HFI_mean,
sig_roc_AC1, sig_roc_AC1_low, sig_roc_BaseRecesK, sig_roc_FDC_slope, sig_roc_FlashIdx,
sig_roc_RecesK_early, sig_roc_RecesVarSeasonality, sig_roc_RLD, sig_other_EventRR,
sig_other_PeakDistribution, sig_other_PeakDistribution_low, sig_other_QP_elasticity,
sig_other_RR_seasonality, sig_other_SnowDayRatio, sig_other_SnowStorage, sig_other_Spearmans_rho,
sig_other_StorageFromBase, sig_other_TotalRR, sig_other_ratio_Event_TotalRR, geol_prim,
geol_prim_prop, geol_sec, geol_sec_prop, unconsoldted, igneous, silicsed, carbnatesed, othersed,
metamorph, sedvolc, oldrock, claya, clayb, sanda, solum_thickness, ksat, solpawhc, elev_min,
elev_max, elev_mean, elev_range, mean_slope_pct, upsdist, strdensity, strahler, elongratio, relief,
reliefratio, mrvbf_prop_0, mrvbf_prop_1, mrvbf_prop_2, mrvbf_prop_3, mrvbf_prop_4, mrvbf_prop_5,
mrvbf_prop_6, mrvbf_prop_7, mrvbf_prop_8, mrvbf_prop_9, confinement, lc01_extracti, lc03_waterbo,
lc04_saltlak, lc05_irrcrop, lc06_irrpast, lc07_irrsuga, lc08_rfcropp, lc09_rfpastu, lc10_rfsugar,
lc11_wetlands, lc14_tussclo, lc15_alpineg, lc16_openhum, lc18_opentus, lc19_shrbsca, lc24_shrbden,
lc25_shrbope, lc31_forclos, lc32_foropen, lc33_woodope, lc34_woodspa, lc35_urbanar, prop_forested,
nvis_grasses_n, nvis_grasses_e, nvis_forests_n, nvis_forests_e, nvis_shrubs_n, nvis_shrubs_e,
nvis_woodlands_n, nvis_woodlands_e, nvis_bare_n, nvis_bare_e, nvis_nodata_n, nvis_nodata_e,
distupdamw, impound_fac, flow_div_fac, leveebank_fac, infrastruc_fac, settlement_fac,
extract_ind_fac, landuse_fac, catchment_di, flow_regime_di, river_di, pop_mean, pop_max, pop_gt_1,
pop_gt_10, erosivity, anngro_mega, anngro_meso, anngro_micro, gromega_seas, gromeso_seas,
gromicro_seas, npp_ann, npp_1, npp_2, npp_3, npp_4, npp_5, npp_6, npp_7, npp_8, npp_9, npp_10,
npp_11, npp_12

In [10]:
df = dataset.fetch_static_features()
print(df.shape)

(561, 187)

In [11]:
print(df.isna().sum().sum())
df.isna().sum()

1643

station_name         0
drainage_division    0
river_region         0
notes                0
lat_outlet           0
                    ..
npp_8                0
npp_9                0
npp_10               0
npp_11               0
npp_12               0
Length: 187, dtype: int64

find those columns which have at least one NaN value

In [12]:
df.loc[:, (df.isna().sum()>0)]

,state_alt,next_station_ds,q_uncert_unique_curves,q_uncert_rmse_all,q_uncert_rmse_lower,q_uncert_rmse_upper,q_uncert_days_above,q_uncert_Q_above,sig_mag_VarIdx,sig_roc_FDC_slope,sig_other_PeakDistribution_low
station_id,,,,,,,,,,,
912101A,NT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.292867,-1.916733,-2.180623
912105A,NT,912101A,NaN,NaN,NaN,NaN,NaN,NaN,0.304694,-1.795139,-1.254491
915011A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.083646,NaN,-6.090788
915206A,NaN,NaN,25.0,25.172244,6.506520,20.955888,0.078362,19.011459,1.009843,NaN,-8.491230
917107A,NaN,NaN,16.0,53.380009,1168.007627,21.192680,0.132802,12.283859,0.641856,-3.957062,-3.631162
...,...,...,...,...,...,...,...,...,...,...,...
318150,NaN,318181,8.0,13.679565,13.569136,10.168856,0.000000,0.000000,0.459891,-3.489307,-5.351701
318181,NaN,NaN,24.0,8.209045,23.363542,5.920785,0.004200,0.450893,0.507649,-3.661257,-5.290249
318191,NaN,318150,11.0,8.226708,12.538870,6.093167,0.000000,0.000000,0.514683,-3.525028,-8.555535
318311,NaN,318150,10.0,19.588965,34.652832,14.517310,0.121428,11.333069,0.678704,-4.723863,-7.717046
319204,NaN,NaN,5.0,6.379150,20.465465,4.794664,0.005493,0.536084,0.683732,-5.213989,-6.477004

In [13]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

state_alt                         544
next_station_ds                   391
q_uncert_unique_curves            102
q_uncert_rmse_all                 102
q_uncert_rmse_lower               102
q_uncert_rmse_upper               102
q_uncert_days_above               102
q_uncert_Q_above                  102
sig_mag_VarIdx                      2
sig_roc_FDC_slope                  91
sig_other_PeakDistribution_low      3
dtype: int64

In [14]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

26
streamflow_MLd, streamflow_MLd_inclInfilled, streamflow_mmd, et_morton_actual_SILO,
et_morton_point_SILO, et_morton_wet_SILO, et_short_crop_SILO, et_tall_crop_SILO,
evap_morton_lake_SILO, evap_pan_SILO, evap_syn_SILO, precipitation_AGCD, precipitation_SILO,
precipitation_var_AGCD, tmax_AGCD, tmin_AGCD, vapourpres_h09_AGCD, vapourpres_h15_AGCD, mslp_SILO,
radiation_SILO, rh_tmax_SILO, rh_tmin_SILO, tmax_SILO, tmin_SILO, vp_deficit_SILO, vp_SILO

## CAMELS_GB

In [15]:
dataset = RainfallRunoff('CAMELS_GB', path=os.path.join(gscad_path, 'CAMELS'), verbosity=0)
print(dataset)
print(textwrap.fill(", ".join(dataset.static_features), width=100))

RainfallRunoff(CAMELS_GB) with 671 stations, 10 dynamic and 145 static features

q_mean, runoff_ratio, stream_elas, slope_fdc, baseflow_index, baseflow_index_ceh, hfd_mean, Q5, Q95,
high_q_freq, high_q_dur, low_q_freq, low_q_dur, zero_q_freq, p_mean, pet_mean, aridity,
p_seasonality, frac_snow, high_prec_freq, high_prec_dur, high_prec_timing, low_prec_freq,
low_prec_dur, low_prec_timing, dwood_perc, ewood_perc, grass_perc, shrub_perc, crop_perc,
urban_perc, inwater_perc, bares_perc, dom_land_cover, benchmark_catch, surfacewater_abs,
groundwater_abs, discharges, abs_agriculture_perc, abs_amenities_perc, abs_energy_perc,
abs_environmental_perc, abs_industry_perc, abs_watersupply_perc, num_reservoir, reservoir_cap,
reservoir_he, reservoir_nav, reservoir_drain, reservoir_wr, reservoir_fs, reservoir_env,
reservoir_nousedata, reservoir_year_first, reservoir_year_last, inter_high_perc, inter_mod_perc,
inter_low_perc, frac_high_perc, frac_mod_perc, frac_low_perc, no_gw_perc, low_nsig_perc,
nsig_low_perc, gauge_name, gauge_lat, gauge_lon, gauge_easting, gauge_northing, gauge_elev, area,
dpsbar, elev_mean, elev_min, elev_10, elev_50, elev_90, elev_max, station_type, flow_period_start,
flow_period_end, flow_perc_complete, bankfull_flow, structurefull_flow, q5_uncert_upper,
q5_uncert_lower, q25_uncert_upper, q25_uncert_lower, q50_uncert_upper, q50_uncert_lower,
q75_uncert_upper, q75_uncert_lower, q95_uncert_upper, q95_uncert_lower, q99_uncert_upper,
q99_uncert_lower, quncert_meta, sand_perc, sand_perc_missing, silt_perc, silt_perc_missing,
clay_perc, clay_perc_missing, organic_perc, organic_perc_missing, bulkdens, bulkdens_missing,
bulkdens_5, bulkdens_50, bulkdens_95, tawc, tawc_missing, tawc_5, tawc_50, tawc_95, porosity_cosby,
porosity_cosby_missing, porosity_cosby_5, porosity_cosby_50, porosity_cosby_95, porosity_hypres,
porosity_hypres_missing, porosity_hypres_5, porosity_hypres_50, porosity_hypres_95,
conductivity_cosby, conductivity_cosby_missing, conductivity_cosby_5, conductivity_cosby_50,
conductivity_cosby_95, conductivity_hypres, conductivity_hypres_missing, conductivity_hypres_5,
conductivity_hypres_50, conductivity_hypres_95, root_depth, root_depth_missing, root_depth_5,
root_depth_50, root_depth_95, soil_depth_pelletier, soil_depth_pelletier_missing,
soil_depth_pelletier_5, soil_depth_pelletier_50, soil_depth_pelletier_95

In [16]:
df = dataset.fetch_static_features()
print(df.shape)

(671, 145)

In [17]:
print(df.isna().sum().sum())
df.isna().sum()

10316

q_mean                          0
runoff_ratio                    0
stream_elas                     0
slope_fdc                       3
baseflow_index                  0
                               ..
soil_depth_pelletier            0
soil_depth_pelletier_missing    0
soil_depth_pelletier_5          0
soil_depth_pelletier_50         0
soil_depth_pelletier_95         0
Length: 145, dtype: int64

find those columns which have at least one NaN value

In [18]:
df.loc[:, (df.isna().sum()>0)]

,slope_fdc,high_prec_timing,low_prec_timing,surfacewater_abs,groundwater_abs,discharges,abs_agriculture_perc,abs_amenities_perc,abs_energy_perc,abs_environmental_perc,...,q25_uncert_upper,q25_uncert_lower,q50_uncert_upper,q50_uncert_lower,q75_uncert_upper,q75_uncert_lower,q95_uncert_upper,q95_uncert_lower,q99_uncert_upper,q99_uncert_lower
gauge_id,,,,,,,,,,,,,,,,,,,,,
38017,1.50,son,jja,0.000,0.054,0.005,28.43,0.00,0.00,0.00,...,21.59,-22.91,17.81,-17.37,13.07,-11.96,12.88,-12.67,10.38,-10.58
42001,3.80,son,jja,0.004,0.149,0.003,2.79,0.00,0.00,0.00,...,26.76,-25.97,15.90,-17.53,25.30,-22.87,24.43,-23.47,14.23,-12.56
55014,2.78,djf,jja,0.001,0.000,0.000,47.16,0.00,0.00,0.00,...,16.99,-16.77,15.09,-15.04,12.25,-12.34,14.04,-14.03,11.15,-11.15
27041,2.04,son,mam,0.047,0.053,0.014,58.32,0.12,14.58,0.00,...,14.67,-15.21,14.57,-14.52,14.56,-14.43,12.83,-13.23,9.28,-10.18
39078,2.02,son,jja,0.000,0.090,0.049,0.65,0.00,0.00,0.00,...,25.60,-26.23,16.68,-16.65,19.92,-19.76,16.59,-16.18,9.20,-8.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66006,3.62,son,jja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.83,-17.47,12.86,-12.66,10.78,-10.53,13.71,-13.75,10.86,-10.95
39014,1.72,son,jja,0.000,0.217,0.019,0.94,0.00,0.00,0.03,...,14.67,-13.54,14.00,-13.29,12.99,-12.63,9.83,-9.67,NaN,NaN
42010,1.06,son,jja,0.714,0.560,0.046,66.65,0.00,0.46,9.92,...,14.07,-14.02,11.30,-11.45,10.76,-10.73,9.78,-9.59,10.56,-10.19
42011,2.06,son,jja,0.000,0.068,0.070,0.69,0.00,0.00,0.00,...,11.80,-11.47,12.42,-12.60,8.67,-8.51,10.04,-9.41,10.72,-10.64
43009,3.63,son,jja,0.050,0.008,0.026,54.02,1.73,36.56,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

slope_fdc                   3
high_prec_timing           15
low_prec_timing             3
surfacewater_abs          229
groundwater_abs           229
discharges                231
abs_agriculture_perc      313
abs_amenities_perc        313
abs_energy_perc           313
abs_environmental_perc    313
abs_industry_perc         313
abs_watersupply_perc      313
reservoir_he              509
reservoir_nav             509
reservoir_drain           509
reservoir_wr              509
reservoir_fs              509
reservoir_env             509
reservoir_nousedata       509
reservoir_year_first      530
reservoir_year_last       530
dpsbar                      2
elev_mean                   2
station_type                1
bankfull_flow             310
structurefull_flow        408
q5_uncert_upper           235
q5_uncert_lower           235
q25_uncert_upper          173
q25_uncert_lower          173
q50_uncert_upper          168
q50_uncert_lower          168
q75_uncert_upper          170
q75_uncert_lower          170
q95_uncert_upper          195
q95_uncert_lower          195
q99_uncert_upper          250
q99_uncert_lower          250
dtype: int64

In [20]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

10
precipitation, pet, temperature, discharge_spec, discharge_vol, peti, humidity, shortwave_rad,
longwave_rad, windspeed

## CAMELS_BR

In [21]:
dataset = RainfallRunoff('CAMELS_BR', path=os.path.join(gscad_path, 'CAMELS'), verbosity=0)
print(dataset)

RainfallRunoff(CAMELS_BR) with 897 stations, 10 dynamic and 67 static features

In [22]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

p_mean, pet_mean, et_mean, aridity, p_seasonality, asynchronicity, frac_snow, high_prec_freq,
high_prec_dur, high_prec_timing, low_prec_freq, low_prec_dur, low_prec_timing, geol_class_1st,
geol_class_1st_perc, geol_class_2nd, geol_class_2nd_perc, carb_rocks_perc, geol_porosity,
geol_permeability, consumptive_use, consumptive_use_perc, reservoirs_vol, regulation_degree, q_mean,
runoff_ratio, stream_elas, slope_fdc, baseflow_index, hfd_mean, Q5, Q95, high_q_freq, high_q_dur,
low_q_freq, low_q_dur, zero_q_freq, crop_perc, crop_mosaic_perc, forest_perc, shrub_perc,
grass_perc, barren_perc, imperv_perc, wet_perc, snow_perc, dom_land_cover, dom_land_cover_perc,
gauge_name, gauge_region, gauge_lat, gauge_lon, area_ana, area_gsim, area_gsim_quality,
q_quality_control_perc, q_stream_stage_perc, sand_perc, silt_perc, clay_perc, org_carbon_content,
bedrock_depth, water_table_depth, elev_gauge, elev_mean, slope_mean, area

In [23]:
df = dataset.fetch_static_features()
print(df.shape)

(897, 67)

In [24]:
print(df.isna().sum().sum())
df.isna().sum()

133

p_mean               0
pet_mean             0
et_mean              0
aridity              0
p_seasonality        0
                    ..
water_table_depth    0
elev_gauge           0
elev_mean            0
slope_mean           0
area                 0
Length: 67, dtype: int64

find those columns which have at least one NaN value

In [25]:
df.loc[:, (df.isna().sum()>0)]

,frac_snow,high_prec_timing,geol_class_2nd,slope_fdc,baseflow_index,area_ana
gauge_id,,,,,,
58030000,0.0,djf,acid_plutonic_rocks,1.08954,0.79986,796.0
57170000,0.0,djf,acid_plutonic_rocks,1.35609,0.76520,980.0
39580000,0.0,mam,siliciclastic_sedimentary_rocks,1.68712,0.66356,756.0
41818000,0.0,djf,metamorphics,1.98782,0.64151,16600.0
58870000,0.0,djf,metamorphics,1.39838,0.71359,1120.0
...,...,...,...,...,...,...
26720000,0.0,djf,siliciclastic_sedimentary_rocks,6.72326,0.57567,6610.0
65925000,0.0,son,NaN,2.24256,0.54385,1660.0
39560000,0.0,mam,metamorphics,2.14107,0.65966,4910.0
71550000,0.0,son,siliciclastic_sedimentary_rocks,2.51894,0.58372,NaN
41539998,0.0,djf,metamorphics,1.74270,0.69456,NaN

In [26]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

frac_snow            5
high_prec_timing     4
geol_class_2nd      47
slope_fdc           16
baseflow_index      18
area_ana            43
dtype: int64

In [27]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

10
streamflow_mm, precipitation_cpc, precipitation_mswep, precipitation_chirps, evapotransp_gleam,
evapotransp_mgb, potential_evapotransp_gleam, temperature_min, temperature_mean, temperature_max

## CAMELS_US

In [28]:
dataset = RainfallRunoff('CAMELS_US', path=os.path.join(gscad_path, 'CAMELS'), verbosity=0)
print(dataset)

dataset is already downloaded at /mnt/datawaha/hyex/atr/gscad_database/raw/CAMELS/CAMELS_US
RainfallRunoff(CAMELS_US) with 671 stations, 8 dynamic and 59 static features

In [29]:
print(dataset.static_features)

['p_mean', 'pet_mean', 'p_seasonality', 'frac_snow', 'aridity', 'high_prec_freq', 'high_prec_dur', 'high_prec_timing', 'low_prec_freq', 'low_prec_dur', 'low_prec_timing', 'geol_1st_class', 'glim_1st_class_frac', 'geol_2nd_class', 'glim_2nd_class_frac', 'carbonate_rocks_frac', 'geol_porostiy', 'geol_permeability', 'q_mean', 'runoff_ratio', 'slope_fdc', 'baseflow_index', 'stream_elas', 'q5', 'q95', 'high_q_freq', 'high_q_dur', 'low_q_freq', 'low_q_dur', 'zero_q_freq', 'hfd_mean', 'huc_02', 'gauge_name', 'soil_depth_pelletier', 'soil_depth_statsgo', 'soil_porosity', 'soil_conductivity', 'max_water_content', 'sand_frac', 'silt_frac', 'clay_frac', 'water_frac', 'organic_frac', 'other_frac', 'gauge_lat', 'gauge_lon', 'elev_mean', 'slope_mean', 'area_gages2', 'area_geospa_fabric', 'frac_forest', 'lai_max', 'lai_diff', 'gvf_max', 'gvf_diff', 'dom_land_cover_frac', 'dom_land_cover', 'root_depth_50', 'root_depth_99']

In [30]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

8
dayl(s), prcp(mm/day), srad(W/m2), swe(mm), tmax(C), tmin(C), vp(Pa), Flow

## CAMELS_CL

In [31]:
dataset = RainfallRunoff('CAMELS_CL', path=os.path.join(gscad_path, 'CAMELS'), verbosity=0)
print(dataset)

RainfallRunoff(CAMELS_CL) with 516 stations, 12 dynamic and 104 static features

In [32]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

gauge_name, gauge_lat, gauge_lon, record_period_start, record_period_end, n_obs, area, elev_gauge,
elev_mean, elev_med, elev_max, elev_min, slope_mean, nested_inner, nested_outer, location_type,
geol_class_1st, geol_class_1st_frac, geol_class_2nd, geol_class_2nd_frac, carb_rocks_frac,
crop_frac, nf_frac, fp_frac, grass_frac, shrub_frac, wet_frac, imp_frac, lc_barren, snow_frac,
lc_glacier, fp_nf_index, forest_frac, dom_land_cover, dom_land_cover_frac, land_cover_missing,
p_mean_cr2met, p_mean_chirps, p_mean_mswep, p_mean_tmpa, pet_mean, aridity_cr2met, aridity_chirps,
aridity_mswep, aridity_tmpa, p_seasonality_cr2met, p_seasonality_chirps, p_seasonality_mswep,
p_seasonality_tmpa, frac_snow_cr2met, frac_snow_chirps, frac_snow_mswep, frac_snow_tmpa,
high_prec_freq_cr2met, high_prec_freq_chirps, high_prec_freq_mswep, high_prec_freq_tmpa,
high_prec_dur_cr2met, high_prec_dur_chirps, high_prec_dur_mswep, high_prec_dur_tmpa,
high_prec_timing_cr2met, high_prec_timing_chirps, high_prec_timing_mswep, high_prec_timing_tmpa,
low_prec_freq_cr2met, low_prec_freq_chirps, low_prec_freq_mswep, low_prec_freq_tmpa,
low_prec_dur_cr2met, low_prec_dur_chirps, low_prec_dur_mswep, low_prec_dur_tmpa,
low_prec_timing_cr2met, low_prec_timing_chirps, low_prec_timing_mswep, low_prec_timing_tmpa,
p_mean_spread, q_mean, runoff_ratio_cr2met, runoff_ratio_chirps, runoff_ratio_mswep,
runoff_ratio_tmpa, stream_elas_cr2met, stream_elas_chirps, stream_elas_mswep, stream_elas_tmpa,
slope_fdc, baseflow_index, hfd_mean, Q95, Q5, high_q_freq, high_q_dur, low_q_freq, low_q_dur,
zero_q_freq, swe_ratio, sur_rights_n, sur_rights_flow, interv_degree, gw_rights_n, gw_rights_flow,
big_dam

In [33]:
df = dataset.fetch_static_features()
print(df.shape)

(516, 104)

In [34]:
print(df.isna().sum().sum())
df.isna().sum()

12185

gauge_id
gauge_name             0
gauge_lat              0
gauge_lon              0
record_period_start    0
record_period_end      0
                      ..
sur_rights_flow        0
interv_degree          0
gw_rights_n            0
gw_rights_flow         0
big_dam                0
Length: 104, dtype: int64

find those rows which have at least one NaN value

In [35]:
df.loc[:, (df.isna().sum()>0)]

gauge_id,location_type,geol_class_2nd,p_mean_chirps,p_mean_tmpa,aridity_chirps,aridity_tmpa,p_seasonality_chirps,p_seasonality_tmpa,frac_snow_chirps,frac_snow_tmpa,...,baseflow_index,hfd_mean,Q95,Q5,high_q_freq,high_q_dur,low_q_freq,low_q_dur,zero_q_freq,swe_ratio
8220009,NaN,Intermediate plutonic rocks,3.69311266,NaN,0.8586003,NaN,-1.074889369,NaN,0.0000000000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10362001,coastal,Pyroclastics,4.34012320,NaN,0.6072567,NaN,-0.622200375,NaN,0.0002103480252,NaN,...,0.5624186,122.0500,6.015702219,0.10735714728,13.44168511,2.714286,117.13468456,29.341772,0.0000000000,NaN
7317005,NaN,Basic volcanic rocks,4.72452895,NaN,0.5293816,NaN,-0.960896391,NaN,0.1469334578557,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2112005,NaN,Unconsolidated sediments,0.21673525,NaN,18.4153050,NaN,1.336308822,NaN,0.0002204325151,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5746001,NaN,Unconsolidated sediments,1.16770048,NaN,3.1408824,NaN,-1.403499734,NaN,0.0000000000000,NaN,...,0.7183103,124.6000,1.580334352,0.22086357569,2.43736966,2.086957,8.17534408,13.416667,0.0000000000,0.003368185140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5101001,NaN,Acid plutonic rocks,0.72182012,NaN,4.7505564,NaN,-1.440400284,NaN,0.0038392564541,NaN,...,0.6971627,162.1176,2.386918187,0.01539947218,43.72596796,18.340909,148.08311081,44.803279,0.0000000000,0.344224603708
10401001,NaN,Metamorphics,4.61487255,NaN,0.5567343,NaN,-0.598618823,NaN,0.0007067884319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2110002,NaN,Siliciclastic sedimentary rocks,0.28986612,NaN,11.4299221,NaN,1.555320147,NaN,0.0021539836182,NaN,...,0.9021013,190.0625,0.014444286,0.00737807572,0.00000000,0.000000,0.00000000,0.000000,0.0000000000,NaN
8350001,NaN,Acid volcanic rocks,8.45346995,NaN,0.3105805,NaN,-0.836864115,NaN,0.0829756992572,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11315001,NaN,Unconsolidated sediments,2.79655852,NaN,0.7749488,NaN,-0.306493095,NaN,0.1256086732201,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

gauge_id
location_type              386
geol_class_2nd              16
p_mean_chirps               43
p_mean_tmpa                516
aridity_chirps              43
aridity_tmpa               516
p_seasonality_chirps        43
p_seasonality_tmpa         516
frac_snow_chirps            43
frac_snow_tmpa             516
high_prec_freq_chirps       43
high_prec_freq_tmpa        516
high_prec_dur_chirps        43
high_prec_dur_tmpa         516
high_prec_timing_chirps     43
high_prec_timing_tmpa      516
low_prec_freq_chirps        43
low_prec_freq_tmpa         516
low_prec_dur_chirps         43
low_prec_dur_tmpa          516
low_prec_timing_chirps      43
low_prec_timing_tmpa       516
q_mean                     278
runoff_ratio_cr2met        278
runoff_ratio_chirps        297
runoff_ratio_mswep         278
runoff_ratio_tmpa          516
stream_elas_cr2met         278
stream_elas_chirps         297
stream_elas_mswep          278
stream_elas_tmpa           516
slope_fdc                  278
baseflow_index             278
hfd_mean                   278
Q95                        278
Q5                         278
high_q_freq                278
high_q_dur                 278
low_q_freq                 278
low_q_dur                  278
zero_q_freq                278
swe_ratio                  397
dtype: int64

In [37]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

12
streamflow_m3s, streamflow_mm, precip_cr2met, precip_chirps, precip_mswep, precip_tmpa, tmin_cr2met,
tmax_cr2met, tmean_cr2met, pet_8d_modis, pet_hargreaves, swe

## CAMELS_DK

In [38]:
dataset = RainfallRunoff('CAMELS_DK', path=os.path.join(gscad_path, 'CAMELS'), verbosity=0)
print(dataset)

RainfallRunoff(CAMELS_DK) with 304 stations, 13 dynamic and 119 static features

In [39]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

p_mean, t_mean, pet_mean, aridity, high_prec_freq, high_prec_dur, high_prec_timing, low_prec_freq,
low_prec_dur, low_prec_timing, frac_snow_daily, p_seasonality, pct_aeolain_sand, pct_water_deposit,
pct_marsh, pct_marine_sand, pct_beach, pct_sandy_till, pct_till, pct_glaf_sand, pct_glal_clay,
pct_down_sand, pct_glam_clay, chalk_d, uaquifer_t, uaquifer_d, uclay_t, usand_t,
pct_forest_levin_2011, pct_agriculture_levin_2011, pct_water_levin_2011, pct_urban_levin_2011,
pct_naturedry_levin_2011, pct_naturewet_levin_2011, pct_forest_levin_2016,
pct_agriculture_levin_2016, pct_water_levin_2016, pct_urban_levin_2016, pct_naturedry_levin_2016,
pct_naturewet_levin_2016, pct_forest_levin_2018, pct_agriculture_levin_2018, pct_water_levin_2018,
pct_urban_levin_2018, pct_naturedry_levin_2018, pct_naturewet_levin_2018, pct_forest_levin_2021,
pct_agriculture_levin_2021, pct_water_levin_2021, pct_urban_levin_2021, pct_naturedry_levin_2021,
pct_naturewet_levin_2021, pct_forest_corine_1990, pct_agriculture_corine_1990,
pct_water_corine_1990, pct_urban_corine_1990, pct_wetlands_corine_1990, pct_forest_corine_2000,
pct_agriculture_corine_2000, pct_water_corine_2000, pct_urban_corine_2000, pct_wetlands_corine_2000,
pct_forest_corine_2006, pct_agriculture_corine_2006, pct_water_corine_2006, pct_urban_corine_2006,
pct_wetlands_corine_2006, pct_forest_corine_2012, pct_agriculture_corine_2012,
pct_water_corine_2012, pct_urban_corine_2012, pct_wetlands_corine_2012, pct_forest_corine_2018,
pct_agriculture_corine_2018, pct_water_corine_2018, pct_urban_corine_2018, pct_wetlands_corine_2018,
root_depth, pct_sand, pct_silt, pct_clay, pct_organic, pct_gravel, tawc, bulk_density,
pct_claynor_30, pct_claynor_60, pct_claynor_100, pct_claynor_200, pct_fsandno_30, pct_fsandno_60,
pct_fsandno_100, pct_fsandno_200, pct_gsandno_30, pct_gsandno_60, pct_gsandno_100, pct_gsandno_200,
FC, HCC, KS, MRC, THS, WP, catch_outlet_lon, catch_outlet_lat, catch_flow_dir, catch_accum_number,
catch_area, gauged_type, gauge_record_pct, dem_mean, dem_max, dem_median, dem_min, slope_mean,
slope_median, slope_max, slope_min, pct_flat_area

In [40]:
df = dataset.fetch_static_features()
print(df.shape)

(304, 119)

In [41]:
print(df.isna().sum().sum())
df.isna().sum()

23

p_mean            0
t_mean            0
pet_mean          0
aridity           0
high_prec_freq    0
                 ..
slope_mean        0
slope_median      0
slope_max         0
slope_min         0
pct_flat_area     0
Length: 119, dtype: int64

find those columns which have at least one NaN value

In [42]:
df.loc[:, (df.isna().sum()>0)]

,chalk_d,uaquifer_t,uaquifer_d,uclay_t,usand_t,gauge_record_pct
16200607,348.941440,16.930742,6.166402,5.468584,5.671323,100.000000
37470466,451.491863,46.024319,0.630618,0.550030,31.309439,100.000000
67221267,82.682739,10.650221,30.316439,28.674266,0.580311,100.000000
35321353,425.690145,39.533252,7.186167,6.985663,0.198207,100.000000
53411137,287.510620,8.634338,15.445959,15.021151,0.210060,100.000000
...,...,...,...,...,...,...
32211121,68.721796,8.509604,7.125480,6.253781,1.478004,54.840134
42320708,155.292211,9.827164,24.663791,21.955691,1.744912,100.000000
71270476,10.931980,45.329497,9.366122,9.176942,0.364699,100.000000
32240800,19.045147,28.712421,9.834996,9.284840,0.198684,100.000000
42600042,124.778317,17.442115,12.625913,12.289986,2.165011,90.673026

In [43]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

chalk_d             3
uaquifer_t          3
uaquifer_d          3
uclay_t             3
usand_t             3
gauge_record_pct    8
dtype: int64

In [44]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

13
pcp_mm, mean_temp_C, makkink_pet_mm, DKM_dtp, DKM_eta, DKM_wcr, DKM_sdr, DKM_sre, DKM_gwh, Qdkm,
DKM_irr, Abstraction, obs_q_cms

## CAMELS_CH

In [45]:
dataset = RainfallRunoff('CAMELS_CH', path=os.path.join(gscad_path, 'CAMELS'), verbosity=0)
print(dataset)

RainfallRunoff(CAMELS_CH) with 331 stations, 9 dynamic and 209 static features

In [46]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

ind_start_date, ind_end_date, ind_number_of_years, p_mean, pet_mean, aridity, p_seasonality,
frac_snow, high_prec_freq, high_prec_dur, high_prec_timing, low_prec_freq, low_prec_dur,
low_prec_timing, geo_porosity, geo_log10_permeability, unconsol_sediments,
siliciclastic_sedimentary, mixed_sedimentary, carbonate_sedimentary, pyroclastic, acid_volcanic,
basic_volcanic, acid_plutonic, intermediate_plutonic, basic_plutonic, metamorphics, water_geo,
ice_geo, osm, omm, usm, api, amk, sus, dup, sal, oos, mpk, aap, fju, hes, mps, ups, ops, tie, ukd,
uod, ood, qua, glac_area, glac_vol, glac_mass, glac_area_neighbours, n_inhabitants,
dens_inhabitants, hp_count, hp_qturb, hp_inst_turb, hp_max_power, num_reservoir, reservoir_cap,
reservoir_he, reservoir_fs, reservoir_irr, reservoir_nousedata, reservoir_year_first,
reservoir_year_last, unconsol_coarse_perc, unconsol_medium_perc, unconsol_fine_perc,
unconsol_imperm_perc, hardrock_perc, hardrock_imperm_perc, karst_perc, water_perc, null_perc,
ext_area_perc, sign_start_date, sign_end_date, sign_number_of_years, q_mean, runoff_ratio,
stream_elas, slope_fdc, baseflow_index_landson, hfd_mean, Q5, Q95, high_q_freq, high_q_dur,
low_q_freq, low_q_dur, zero_q_freq, crop_perc, grass_perc, scrub_perc, dwood_perc, mixed_wood_perc,
ewood_perc, wetlands_perc, inwater_perc, ice_perc, loose_rock_perc, rock_perc, urban_perc,
dom_land_cover, sand_perc, sand_perc_5, sand_perc_25, sand_perc_50, sand_perc_75, sand_perc_90,
sand_perc_skewness, sand_perc_missing, silt_perc, silt_perc_5, silt_perc_25, silt_perc_50,
silt_perc_75, silt_perc_90, silt_perc_skewness, silt_perc_missing, clay_perc, clay_perc_5,
clay_perc_25, clay_perc_50, clay_perc_75, clay_perc_90, clay_perc_skewness, clay_perc_missing,
organic_perc, organic_perc_5, organic_perc_25, organic_perc_50, organic_perc_75, organic_perc_90,
organic_perc_skewness, organic_perc_missing, bulk_dens, bulk_dens_5, bulk_dens_25, bulk_dens_50,
bulk_dens_75, bulk_dens_90, bulk_dens_skewness, bulk_dens_missing, tot_avail_water,
tot_avail_water_5, tot_avail_water_25, tot_avail_water_50, tot_avail_water_75, tot_avail_water_90,
tot_avail_water_skewness, tot_avail_water_missing, root_depth, root_depth_5, root_depth_25,
root_depth_50, root_depth_75, root_depth_90, root_depth_skewness, root_depth_missing,
coarse_fragm_perc, coarse_fragm_perc_5, coarse_fragm_perc_25, coarse_fragm_perc_50,
coarse_fragm_perc_75, coarse_fragm_perc_90, coarse_fragm_perc_skewness, coarse_fragm_perc_missing,
porosity, porosity_5, porosity_25, porosity_50, porosity_75, porosity_90, porosity_skewness,
porosity_missing, conductivity, conductivity_5, conductivity_25, conductivity_50, conductivity_75,
conductivity_90, conductivity_skewness, conductivity_missing, country, gauge_name, water_body_name,
id6, water_body_type, gauge_lon, gauge_lat, gauge_easting, gauge_northing, gauge_elevation, area,
elev_mean, elev_min, elev_percentile10, elev_percentile25, elev_percentile50, elev_percentile75,
elev_percentile90, elev_max, slope_mean, flat_area_perc, steep_area_perc

In [47]:
df = dataset.fetch_static_features()
print(df.shape)

(331, 209)

In [48]:
print(df.isna().sum().sum())
df.isna().sum()

2097

ind_start_date         0
ind_end_date           0
ind_number_of_years    0
p_mean                 0
pet_mean               0
                      ..
elev_percentile90      0
elev_max               0
slope_mean             0
flat_area_perc         0
steep_area_perc        0
Length: 209, dtype: int64

find those columns which have at least one NaN value

In [49]:
df.loc[:, (df.isna().sum()>0)]

,p_seasonality,frac_snow,high_prec_timing,low_prec_timing,reservoir_he,reservoir_fs,reservoir_irr,reservoir_nousedata,reservoir_year_first,reservoir_year_last,...,baseflow_index_landson,hfd_mean,Q5,Q95,high_q_freq,high_q_dur,low_q_freq,low_q_dur,zero_q_freq,silt_perc_skewness
gauge_id,,,,,,,,,,,,,,,,,,,,,
2004,0.159,0.039,jja,son,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.252
2007,-0.118,0.170,djf,son,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.635
2009,0.078,0.436,jja,son,0.999,0.0,0.001,0.0,1914.0,1989.0,...,0.787,243.282,1.279,6.207,0.000,0.000,0.051,2.000,0.0,0.285
2011,0.106,0.474,son,son,0.998,0.0,0.002,0.0,1927.0,1989.0,...,0.751,263.667,0.821,6.681,0.051,1.000,0.436,1.000,0.0,0.267
2014,0.279,0.223,jja,son,1.000,0.0,0.000,0.0,1910.0,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6007,0.228,0.379,son,djf,1.000,0.0,0.000,0.0,2010.0,2010.0,...,0.715,211.333,1.298,8.789,2.005,1.714,2.451,7.333,0.0,0.393
6008,NaN,NaN,son,djf,NaN,NaN,NaN,NaN,NaN,NaN,...,0.602,188.875,0.632,10.751,4.385,2.593,29.315,8.069,0.0,-0.603
6009,NaN,NaN,son,djf,NaN,NaN,NaN,NaN,NaN,NaN,...,0.318,191.714,0.127,15.376,26.897,2.667,155.228,12.056,0.0,0.310
6010,NaN,NaN,son,djf,NaN,NaN,NaN,NaN,NaN,NaN,...,0.494,198.400,1.002,12.617,12.195,2.103,4.998,3.571,0.0,-0.744
6011,0.272,0.110,NaN,djf,1.000,0.0,0.000,0.0,1918.0,2010.0,...,0.697,204.250,1.165,10.371,0.000,0.000,0.000,0.000,0.0,0.272

In [50]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

p_seasonality              54
frac_snow                  54
high_prec_timing           13
low_prec_timing             5
reservoir_he              223
reservoir_fs              223
reservoir_irr             223
reservoir_nousedata       223
reservoir_year_first      223
reservoir_year_last       223
sign_start_date            42
sign_end_date              42
q_mean                     42
runoff_ratio               42
stream_elas                44
slope_fdc                  42
baseflow_index_landson     42
hfd_mean                   42
Q5                         42
Q95                        42
high_q_freq                42
high_q_dur                 42
low_q_freq                 42
low_q_dur                  42
zero_q_freq                42
silt_perc_skewness          1
dtype: int64

In [51]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

9
obs_q_cms, obs_q_mmd, waterlevel(m), pcp_mm, min_temp_C, mean_temp_C, max_temp_C, rel_sun_dur(%),
swe_mm

## CAMELS_DE

In [52]:
dataset = RainfallRunoff('CAMELS_DE', path=os.path.join(gscad_path, 'CAMELS'), verbosity=0)
print(dataset)

RainfallRunoff(CAMELS_DE) with 1555 stations, 21 dynamic and 111 static features

In [53]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

p_mean, p_seasonality, frac_snow, high_prec_freq, high_prec_dur, high_prec_timing, low_prec_freq,
low_prec_dur, low_prec_timing, dams_names, dams_river_names, dams_num, dams_year_first,
dams_year_last, dams_total_lake_area, dams_total_lake_volume, dams_purposes, aquitard_perc,
aquifer_perc, aquifer_aquitard_mixed_perc, kf_very_high_perc, kf_high_perc, kf_medium_perc,
kf_moderate_perc, kf_low_perc, kf_very_low_perc, kf_extremely_low_perc, kf_very_high_to_high_perc,
kf_medium_to_moderate_perc, kf_low_to_extremely_low_perc, kf_highly_variable_perc,
kf_moderate_to_low_perc, cavity_fissure_perc, cavity_pores_perc, cavity_fissure_karst_perc,
cavity_fissure_pores_perc, rocktype_sediment_perc, rocktype_metamorphite_perc,
rocktype_magmatite_perc, consolidation_solid_rock_perc, consolidation_unconsolidated_rock_perc,
geochemical_rocktype_silicate_perc, geochemical_rocktype_silicate_carbonatic_perc,
geochemical_rocktype_carbonatic_perc, geochemical_rocktype_sulfatic_perc,
geochemical_rocktype_silicate_organic_components_perc,
geochemical_rocktype_anthropogenically_modified_through_filling_perc,
geochemical_rocktype_sulfatic_halitic_perc, geochemical_rocktype_halitic_perc, waterbody_perc,
no_data_perc, q_mean, runoff_ratio, flow_period_start, flow_period_end, flow_perc_complete,
slope_fdc, hfd_mean, Q5, Q95, high_q_freq, high_q_dur, low_q_freq, low_q_dur, zero_q_freq,
artificial_surfaces_perc, agricultural_areas_perc, forests_and_seminatural_areas_perc,
wetlands_perc, water_bodies_perc, training_perc_complete, validation_perc_complete,
testing_perc_complete, NSE_lstm, NSE_conceptual, clay_0_30cm_mean, clay_30_100cm_mean,
clay_100_200cm_mean, silt_0_30cm_mean, silt_30_100cm_mean, silt_100_200cm_mean, sand_0_30cm_mean,
sand_30_100cm_mean, sand_100_200cm_mean, coarse_fragments_0_30cm_mean,
coarse_fragments_30_100cm_mean, coarse_fragments_100_200cm_mean, bulk_density_0_30cm_mean,
bulk_density_30_100cm_mean, bulk_density_100_200cm_mean, soil_organic_carbon_0_30cm_mean,
soil_organic_carbon_30_100cm_mean, soil_organic_carbon_100_200cm_mean, provider_id, gauge_name,
water_body_name, federal_state, gauge_lat, gauge_lon, gauge_easting, gauge_northing,
gauge_elev_metadata, area_metadata, gauge_elev, area, elev_mean, elev_min, elev_5, elev_50, elev_95,
elev_max

In [54]:
df = dataset.fetch_static_features()
print(df.shape)

(1555, 111)

In [55]:
print(df.isna().sum().sum())
df.isna().sum()

6862

p_mean            0
p_seasonality     0
frac_snow         0
high_prec_freq    0
high_prec_dur     0
                 ..
elev_min          0
elev_5            0
elev_50           0
elev_95           0
elev_max          0
Length: 111, dtype: int64

find those columns which have at least one NaN value

In [56]:
df.loc[:, (df.isna().sum()>0)]

,high_prec_timing,low_prec_timing,dams_names,dams_river_names,dams_year_first,dams_year_last,dams_total_lake_area,dams_total_lake_volume,dams_purposes,NSE_lstm,NSE_conceptual,gauge_elev_metadata
gauge_id,,,,,,,,,,,,
DEA11180,jja,mam,Aabachtalsperre|Borchen Hochwasserrückhaltebec...,Aabookach (Afte)|Afte bzw. Wiele|Altenau (Alme...,1930.0,1996.0,10.28,71.90,Water supply|Recreational use|Flood control,0.929,0.854,30.86
DEE10940,jja,mam,NaN,NaN,NaN,NaN,0.00,0.00,NaN,0.094,0.140,69.77
DE911160,jja,mam,NaN,NaN,NaN,NaN,0.00,0.00,NaN,0.841,0.844,NaN
DE212640,jja,son,NaN,NaN,NaN,NaN,0.00,0.00,NaN,0.727,0.620,326.68
DE112130,mam,mam,NaN,NaN,NaN,NaN,0.00,0.00,NaN,0.688,0.605,105.48
...,...,...,...,...,...,...,...,...,...,...,...,...
DEF13210,jja,mam,NaN,NaN,NaN,NaN,0.00,0.00,NaN,0.917,NaN,NaN
DEF10460,jja,mam,NaN,NaN,NaN,NaN,0.00,0.00,NaN,0.574,0.355,NaN
DE912320,jja,mam,NaN,NaN,NaN,NaN,0.00,0.00,NaN,0.770,0.589,NaN
DEA11090,jja,mam,Aabachtalsperre|Borchen Hochwasserrückhaltebec...,Afte bzw. Wiele|Aabookach (Afte)|Altenau (Alme...,1974.0,1996.0,5.37,39.41,Water supply|Flood control,0.928,0.884,63.64
DE213310,jja,son,NaN,NaN,NaN,NaN,0.00,0.00,NaN,0.637,0.512,542.11

In [57]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

high_prec_timing             8
low_prec_timing              3
dams_names                1240
dams_river_names          1240
dams_year_first           1251
dams_year_last            1251
dams_total_lake_area        41
dams_total_lake_volume       2
dams_purposes             1241
NSE_lstm                    43
NSE_conceptual             157
gauge_elev_metadata        385
dtype: int64

In [58]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

21

obs_q_cms, obs_q_mmd, water_level, mean_pcp_mm, min_pcp_mm, median_pcp_mm, max_pcp_mm, std_pcp_mm,
mean_rh_%, min_rh_%, median_rh_%, max_rh_%, std_rh_%, radiation_global_mean, radiation_global_min,
radiation_global_median, radiation_global_max, radiation_global_stdev, mean_temp_C, min_temp_C,
max_temp_C

## CAMELS_SE

In [59]:
dataset = RainfallRunoff('CAMELS_SE', path=os.path.join(gscad_path, 'CAMELS'), verbosity=0)
print(dataset)

RainfallRunoff(CAMELS_SE) with 50 stations, 4 dynamic and 76 static features

In [60]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

S02_Qcoeff_CNP_91_20, S07_Qmean_autumn_hs, Name, S14_T_maxQ_d1_CNP_61_90, Water_percentage,
S09_LFfreq_CNP_91_20, Forest_percentage, S08_Qmean_winter_hs, S14_T_maxQ_d1_hs, Elevation_mabsl,
S14_T_maxQ_d1_CNP_91_20, Shrubs_and_grassland_percentage, Slope_mean_degree, Latitude_WGS84,
S05_Qmean_spring_CNP_91_20, S07_Qmean_autumn_CNP_91_20, S05_Qmean_spring_CNP_61_90,
Postglacial_sand_and_gravel_percentage_sc, S13_HFfreq_CNP_61_90, S15_maxQ_d30_CNP_91_20,
S10_T_minQ_d30_hs, S05_Qmean_spring_hs, S09_LFfreq_hs, DOR, RegVol_m3, Till_percentage_sc,
S12_minQ_d30_hs, Longitude_WGS84, Open_land_percentage, S15_maxQ_d30_hs, S01_Qmean_CNP_61_90,
S08_Qmean_winter_CNP_61_90, Bedrock_percentage_sc, S08_Qmean_winter_CNP_91_20,
S15_maxQ_d30_CNP_61_90, S04_SPD_CNP_61_90, S04_SPD_CNP_91_20, S03_COM_hs, S12_minQ_d30_CNP_91_20,
Pmean_mm_year, S16_maxQ_d1_CNP_91_20, Area_km2, Till_and_weathered_deposit_percentage_sc,
S12_minQ_d30_CNP_61_90, S03_COM_CNP_91_20, Glaciers_percentage, S06_Qmean_summer_CNP_91_20,
S10_T_minQ_d30_CNP_91_20, Silt_percentage_sc, S03_COM_CNP_61_90, S13_HFfreq_CNP_91_20,
S11_minQ_d7_CNP_61_90, Wetlands_percentage, S16_maxQ_d1_hs, S02_Qcoeff_CNP_61_90, S11_minQ_d7_hs,
Peat_percentage_sc, S11_minQ_d7_CNP_91_20, Glacier_percentage_sc, Urban_percentage, S13_HFfreq_hs,
S04_SPD_hs, S06_Qmean_summer_CNP_61_90, S01_Qmean_hs, Water_percentage_sc,
Clayey_till_and_clay_till_percentage_sc, S02_Qcoeff_hs, S16_maxQ_d1_CNP_61_90, S06_Qmean_summer_hs,
S10_T_minQ_d30_CNP_61_90, S01_Qmean_CNP_91_20, S07_Qmean_autumn_CNP_61_90, Tmean_C,
S09_LFfreq_CNP_61_90, Glaciofluvial_sediment_percentage_sc, Agriculture_percentage

In [61]:
df = dataset.fetch_static_features()
print(df.shape)

(50, 76)

In [62]:
print(df.isna().sum().sum())
df.isna().sum()

0

S02_Qcoeff_CNP_91_20                    0
S07_Qmean_autumn_hs                     0
Name                                    0
S14_T_maxQ_d1_CNP_61_90                 0
Water_percentage                        0
                                       ..
S07_Qmean_autumn_CNP_61_90              0
Tmean_C                                 0
S09_LFfreq_CNP_61_90                    0
Glaciofluvial_sediment_percentage_sc    0
Agriculture_percentage                  0
Length: 76, dtype: int64

find those columns which have at least one NaN value

In [63]:
if df.isna().sum().sum()>0:
    df.loc[:, (df.isna().sum()>0)]
else:
    print('No NaN values')

No NaN values

In [64]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

Series([], dtype: float64)

In [65]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

4
obs_q_cms, obs_q_mmd, pcp_mm, mean_temp_C

## CAMELS_IND

In [66]:
dataset = RainfallRunoff('CAMELS_IND', path=os.path.join(gscad_path, 'CAMELS'), verbosity=0)
print(dataset)

RainfallRunoff(CAMELS_IND) with 472 stations, 20 dynamic and 210 static features

In [67]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

cwc_lat, cwc_lon, ghi_lat, ghi_lon, elev_mean, elev_median, elev_min, elev_max, slope_mean,
slope_median, slope_min, slope_max, cwc_area, ghi_area, gauge_elevation, dspbar, soil_depth,
soil_conductivity_top, soil_conductivity_sub, soil_awc_top, soil_awc_sub, soil_awsc_min,
soil_awsc_max, soil_awsc_major, sand_frac_top, sand_frac_sub, silt_frac_top, silt_frac_sub,
clay_frac_top, clay_frac_sub, gravel_frac_top, gravel_frac_sub, bulkdens_top_major,
bulkdense_top_mean, bulkdens_sub_major, bulkdens_sub_mean, org_carb_top_major, org_carb_top_mean,
org_carb_sub_major, org_carb_sub_mean, organic_frac_top, organic_frac_sub, hsg_major, wtd, p_mean,
p_max, p_mean_anum, p_monthly_variability, p_annual_variability, p_unif, high_prec_freq,
high_prec_dur, max_high_prec_dur, high_prec_timing, low_prec_freq, low_prec_dur, max_low_prec_dur,
low_prec_timing, asynchronicity, tmin_mean, tmax_mean, pet_mean, pet_min, pet_max, pet_mean_anum,
pet_gleam_mean, aet_gleam_mean, evap_canopy_mean, evap_canopy_min, evap_canopy_max,
evap_canopy_anum, evap_surface_mean, evap_surface_min, evap_surface_max, evap_surface_anum,
aridity_p_pet, aridity_pet_aet, ai_mean, rel_hum_mean, srad_lw_mean, srad_sw_mean, wind_mean,
sm_lvl1_mean, sm_lvl2_mean, sm_lvl3_mean, sm_lvl4_mean, num_dams, res_store_sum, n_dams,
first_dam_year, last_dam_year, total_storage, reservoir_index, irrigation_frac, hydroelec_frac,
drinking_frac, flood_frac, overflow_frac, navigation_frac, tailing_frac, pop_density_2000,
pop_density_2005, pop_density_2010, pop_density_2015, pop_density_2020, urban_frac_1985,
urban_frac_1995, urban_frac_2005, crops_frac_1985, crops_frac_1995, crops_frac_2005, water_frac,
trees_frac, flooded_veg_frac, crops_frac, built_area_frac, bare_frac, range_frac, dom_land_cover,
dom_land_cover_frac, lai_mean, lai_min, lai_max, lai_diff, geol_porosity, geol_permeability,
geol_class_1st, geol_class_1st_frac, geol_class_2nd, geol_class_2nd_frac, carb_rocks_frac, q_mean,
runoff_ratio, streamflow_elas, slope_fdc, bfi, q_cv, q_10, q_25, q_50, q_75, q_90, q_zero,
q_low_days, freq_q_low, q_high_days, freq_q_high, annual_q, mean_anum_flow, cen_time, gini_flow,
annual_max_1day, annual_max_3day, annual_max_7day, annual_max_30day, annual_max_90day,
annual_min_7day, month_1day_max, month_1day_min, doy_min_flow, doy_max_flow, doy_min_flow_7,
doy_max_flow_7, mean_jan_flow, mean_feb_flow, mean_mar_flow, mean_apr_flow, mean_may_flow,
mean_jun_flow, mean_jul_flow, mean_aug_flow, mean_sep_flow, mean_oct_flow, mean_nov_flow,
mean_dec_flow, cv_jan_flow, cv_feb_flow, cv_mar_flow, cv_apr_flow, cv_may_flow, cv_jun_flow,
cv_jul_flow, cv_aug_flow, cv_sep_flow, cv_oct_flow, cv_nov_flow, cv_dec_flow, mean_swmn_flow,
mean_atmn_flow, mean_wint_flow, mean_sumr_flow, q_mean_swmn, q_5_swmn, q_25_swmn, q_50_swmn,
q_75_swmn, q_95_swmn, rise_rate_mean, rise_rate_median, rise_days, fall_rate_mean, fall_rate_median,
fall_days, num_hyd_alt, ghi_stn_id, cwc_site_name, river_basin, cwc_river, ghi_group,
flow_availability

In [68]:
df = dataset.fetch_static_features()
print(df.shape)

(472, 210)

In [69]:
print(df.isna().sum().sum())
df.isna().sum()

20322

cwc_lat              0
cwc_lon              0
ghi_lat              0
ghi_lon              0
elev_mean            0
                    ..
cwc_site_name        0
river_basin          0
cwc_river            0
ghi_group            0
flow_availability    0
Length: 210, dtype: int64

find those columns which have at least one NaN value

In [70]:
df.loc[:, (df.isna().sum()>0)]

,bulkdens_sub_major,bulkdens_sub_mean,first_dam_year,last_dam_year,reservoir_index,irrigation_frac,hydroelec_frac,drinking_frac,flood_frac,overflow_frac,...,q_50_swmn,q_75_swmn,q_95_swmn,rise_rate_mean,rise_rate_median,rise_days,fall_rate_mean,fall_rate_median,fall_days,num_hyd_alt
gauge_id,,,,,,,,,,,,,,,,,,,,,
3001,1.33,1.291356,1909.0,1909.0,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.420,1.117,3.524,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3002,1.45,1.450000,1982.0,1982.0,0.000688,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.323,3.437,9.681,38.509,3.07,62.00,-15.864,-0.810,150.50,78.611
3003,1.21,1.210000,1907.0,2009.0,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3004,1.21,1.211649,1800.0,2003.0,NaN,0.969697,0.030303,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3005,1.21,1.218816,1903.0,2013.0,0.507788,0.928962,0.016393,0.005464,0.027322,0.005464,...,1.369,3.503,12.083,324.324,5.46,131.75,-186.758,-4.480,228.80,141.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17021,NaN,1.291081,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17022,NaN,1.318424,1940.0,2007.0,1.030649,0.705882,0.058824,0.000000,0.058824,0.000000,...,0.000,0.002,0.015,12.834,0.43,78.20,-8.761,-0.410,114.95,87.350
17023,NaN,1.211304,1922.0,2011.0,NaN,0.545455,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17024,NaN,1.320490,1940.0,2007.0,0.942509,0.705882,0.058824,0.000000,0.058824,0.000000,...,0.000,0.000,0.000,55.641,5.30,21.65,-32.892,-3.045,36.60,26.333
17025,NaN,1.330000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

bulkdens_sub_major    136
bulkdens_sub_mean       2
first_dam_year         74
last_dam_year          74
reservoir_index       244
                     ...
rise_days             299
fall_rate_mean        299
fall_rate_median      299
fall_days             299
num_hyd_alt           299
Length: 86, dtype: int64

In [72]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

20
pcp_mm, max_temp_C, min_temp_C, mean_temp_C, srad_lw(w/m2), srad_sw(w/m2), wind_u(m/s), wind_v(m/s),
windspeed_ms, rh_%, pet(mm/day), pet_gleam(mm/day), aet_gleam(mm/day), evap_canopy(kg/m2/s),
evap_surface(kg/m2/s), sm_lvl1(kg/m2), sm_lvl2(kg/m2), sm_lvl3(kg/m2), sm_lvl4(kg/m2), obs_q_cms

## LamaHCE

In [73]:
dataset = RainfallRunoff('LamaHCE', timestep='D', data_type='total_upstrm', path=gscad_path, verbosity=0)
print(dataset)

RainfallRunoff(LamaHCE) with 859 stations, 22 dynamic and 80 static features

In [74]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

area_calc, elev_mean, elev_med, elev_std, elev_ran, slope_mean, mvert_dist, mvert_ang, elon_ratio,
strm_dens, p_mean, et0_mean, eta_mean, aridity, p_season, frac_snow, hi_prec_fr, hi_prec_du,
hi_prec_ti, lo_prec_fr, lo_prec_du, lo_prec_ti, lc_dom, agr_fra, bare_fra, forest_fra, glac_fra,
lake_fra, urban_fra, lai_max, lai_diff, ndvi_max, ndvi_min, gvf_max, gvf_diff, bedrk_dep, root_dep,
soil_poros, soil_condu, soil_tawc, sand_fra, silt_fra, clay_fra, grav_fra, oc_fra, gc_dom,
gc_ig_fra, gc_mt_fra, gc_pa_fra, gc_pb_fra, gc_pi_fra, gc_py_fra, gc_sc_fra, gc_sm_fra, gc_ss_fra,
gc_su_fra, gc_va_fra, gc_vb_fra, gc_wb_fra, geol_perme, geol_poros, govnr, name, river, area_gov,
elev, lon, lat, country, fedstate, region, obsbeg_day, obsbeg_hr, obsend, typimpact, diur_art,
diur_glac, degimpact, gaps, area_ratio

In [75]:
df = dataset.fetch_static_features()
print(df.shape)

(859, 80)

In [76]:
print(df.isna().sum().sum())
df.isna().sum()

46

area_calc     0
elev_mean     0
elev_med      0
elev_std      0
elev_ran      0
             ..
diur_art      0
diur_glac     0
degimpact     0
gaps          0
area_ratio    0
Length: 80, dtype: int64

find those columns which have at least one NaN value

In [77]:
df.loc[:, (df.isna().sum()>0)]

    hi_prec_ti lo_prec_ti  geol_perme
ID
826        NaN        son       -12.4
819        son        djf       -11.5
79         jja        djf       -13.3
696        jja        djf       -12.2
98         jja        djf       -12.0
..         ...        ...         ...
261        jja        djf       -12.1
587        jja        djf       -12.9
827        jja        son       -12.6
250        jja        djf       -13.4
72         jja        djf       -12.4

[859 rows x 3 columns]

In [78]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

hi_prec_ti    42
lo_prec_ti     3
geol_perme     1
dtype: int64

In [79]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

22
max_temp_C, mean_temp_C, min_temp_C, 2m_dp_temp_max, 2m_dp_temp_mean, 2m_dp_temp_min, 10m_wind_u,
10m_wind_v, fcst_alb, lai_high_veg, lai_low_veg, swe_mm, surf_net_solar_rad_max,
surf_net_solar_rad_mean, surf_net_therm_rad_max, surf_net_therm_rad_mean, surf_press, total_et,
pcp_mm, volsw_123, volsw_4, obs_q_cms

In [80]:
dataset = RainfallRunoff('LamaHCE', timestep='H', data_type='total_upstrm', path=gscad_path, verbosity=0)
print(dataset)

RainfallRunoff(LamaHCE) with 859 stations, 16 dynamic and 84 static features

In [81]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

area_calc, elev_mean, elev_med, elev_std, elev_ran, slope_mean, mvert_dist, mvert_ang, elon_ratio,
strm_dens, p_mean, et0_mean, eta_mean, arid_1, arid_2, p_season, frac_snow, hi_prec_fr, hi_prec_du,
hi_prec_ti, lo_prec_fr, lo_prec_du, lo_prec_ti, lc_dom, agr_fra, bare_fra, forest_fra, glac_fra,
lake_fra, urban_fra, lai_max, lai_diff, ndvi_max, ndvi_min, gvf_max, gvf_diff, bedrk_dep, root_dep,
soil_poros, soil_condu, soil_tawc, sand_fra, silt_fra, clay_fra, grav_fra, oc_fra, gc_dom,
gc_ig_fra, gc_mt_fra, gc_pa_fra, gc_pb_fra, gc_pi_fra, gc_py_fra, gc_sc_fra, gc_sm_fra, gc_ss_fra,
gc_su_fra, gc_va_fra, gc_vb_fra, gc_wb_fra, geol_perme, geol_poros, govnr, name, river, area_gov,
elev, lon, lat, country, fedstate, region, obsbeg_day, obsbeg_hr, obsend, gaps_pre, gaps_post,
area_ratio, nrs_euhyd, nrs_rivat, typimpact, diur_art, diur_glac, degimpact

In [82]:
df = dataset.fetch_static_features()
print(df.shape)

(859, 84)

In [83]:
print(df.isna().sum().sum())
df.isna().sum()

65

area_calc     0
elev_mean     0
elev_med      0
elev_std      0
elev_ran      0
             ..
nrs_rivat    19
typimpact     0
diur_art      0
diur_glac     0
degimpact     0
Length: 84, dtype: int64

find those columns which have at least one NaN value

In [84]:
df.loc[:, (df.isna().sum()>0)]

    hi_prec_ti lo_prec_ti  geol_perme   nrs_rivat
ID
826        NaN        son       -12.4  20376803.0
819        son        djf       -11.5  20464042.0
79         jja        djf       -13.3  20454049.0
696        jja        djf       -12.2  20424102.0
98         jja        djf       -12.0  20440228.0
..         ...        ...         ...         ...
261        jja        djf       -12.1  20428827.0
587        jja        djf       -12.9  20461304.0
827        jja        son       -12.6  20379436.0
250        jja        djf       -13.4  20441631.0
72         jja        djf       -12.4  20451775.0

[859 rows x 4 columns]

In [85]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

hi_prec_ti    42
lo_prec_ti     3
geol_perme     1
nrs_rivat     19
dtype: int64

In [86]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

16

mean_temp_C, 2m_dp_temp, 10m_wind_u, 10m_wind_v, fcst_alb, lai_high_veg, lai_low_veg, swe_mm,
surf_net_solar_rad, surf_net_therm_rad, surf_press, total_et, pcp_mm, volsw_123, volsw_4, obs_q_cms

## LamaHIce

In [87]:
dataset = RainfallRunoff('LamaHIce', timestep='D', data_type='total_upstrm', 
                         path=os.path.join(gscad_path, 'LamaHIce_daily'), verbosity=0)
print(dataset)

RainfallRunoff(LamaHIce) with 111 stations, 36 dynamic and 154 static features

In [88]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

area_calc_basin, elev_mean_basin, elev_med_basin, elev_ran_basin, elev_std_basin, slope_mean_basin,
mvert_dist_basin, mvert_ang_basin, asp_mean_basin, elon_ratio_basin, strm_dens_basin, p_mean_basin,
ref_et_mean_basin, aridity_basin, p_season_basin, frac_snow_basin, high_prec_fr_basin,
high_prec_du_basin, high_prec_timing_basin, lo_prec_fr_basin, low_prec_du_basin,
low_prec_timing_basin, p_mean_ERA5L_basin, pet_mean_ERA5L_basin, aridity_ERA5L_basin,
p_season_ERA5L_basin, frac_snow_ERA5L_basin, high_prec_fr_ERA5L_basin, high_prec_du_ERA5L_basin,
high_prec_timing_ERA5L_basin, lo_prec_fr_ERA5L_basin, low_prec_du_ERA5L_basin,
low_prec_timing_ERA5L_basin, q_mean_basin, runoff_ratio_basin, hfd_mean_basin, slope_fdc_basin,
baseflow_index_ladson_basin, stream_elas_basin, high_q_freq_basin, high_q_dur_basin, Q95_basin,
low_q_freq_basin, low_q_dur_basin, Q5_basin, lc_dom_basin, agr_fra_basin, bare_fra_basin,
forest_fra_basin, glac_fra_basin, lake_fra_basin, urban_fra_basin, scrub_fra_basin, wetl_fra_basin,
lai_max_basin, lai_diff_basin, ndvi_max_basin, ndvi_min_basin, gvf_max_basin, gvf_diff_basin,
bedrk_dep_basin, root_dep_basin, soil_poros_basin, soil_tawc_basin, sand_fra_basin, silt_fra_basin,
clay_fra_basin, grav_fra_basin, oc_fra_basin, gc_dom_basin, gc_pa_fra_basin, gc_pb_fra_basin,
gc_va_fra_basin, gc_vb_fra_basin, gc_23_dom_basin, gc_23_pavr_basin, gc_23_pb_basin,
gc_23_vapy_basin, gc_23_vbsr_basin, gc_23_vbpy_basin, gc_23_vb_basin, g_dom_NI_basin,
g621_fra_basin, g701_fra_basin, g743_fra_basin, g746_fra_basin, gbinn_fra_basin, ggnew_fra_basin,
ggold_fra_basin, ghraun_fra_basin, gbnew_fra_basin, gbold_fra_basin, gmob_fra_basin,
gsgos_fra_basin, gsinn_fra_basin, gsn_fra_basin, gsnew_fra_basin, gsold_fra_basin, g_frac_basin,
g_area_basin, g_mean_el_basin, g_min_el_basin, g_max_el_basin, g_aspect_basin, g_slope_basin,
g_slopel20_basin, g_lon_basin, g_lat_basin, degimpact_basin, typimpact_basin, Q_all_basin,
P_ERA5L_all_basin, PET_ERA5L_all_basin, ET_ERA5L_all_basin, water_year_all_basin, P_rav_all_basin,
PET_rav_all_basin, ET_rav_all_basin, Q_unfiltered_basin, P_ERA5L_unfiltered_basin,
PET_ERA5L_unfiltered_basin, ET_ERA5L_unfiltered_basin, water_year_unfiltered_basin,
P_rav_unfiltered_basin, PET_rav_unfiltered_basin, ET_rav_unfiltered_basin, V_no_gauge, name_gauge,
river_gauge, VHM_no_gauge, gaps_hourly_gauge, obsbeg_day_gauge, obsend_day_gauge, obsbeg_hr_gauge,
obsend_hr_gauge, typimpact_gauge, degimpact_gauge, elevation_gauge, lat_gauge, lon_gauge,
geometry_gauge, q_mean_gauge, runoff_ratio_gauge, stream_elas_gauge, slope_fdc_gauge,
baseflow_index_ladson_gauge, hfd_mean_gauge, Q5_gauge, Q95_gauge, high_q_freq_gauge,
high_q_dur_gauge, low_q_freq_gauge, low_q_dur_gauge, zero_q_freq_gauge

In [89]:
df = dataset.fetch_static_features()
print(df.shape)

(111, 154)

In [90]:
print(df.isna().sum().sum())
df.isna().sum()

2013

area_calc_basin       0
elev_mean_basin       0
elev_med_basin        0
elev_ran_basin        0
elev_std_basin        0
                     ..
high_q_freq_gauge    67
high_q_dur_gauge     67
low_q_freq_gauge     70
low_q_dur_gauge      70
zero_q_freq_gauge    37
Length: 154, dtype: int64

find those columns which have at least one NaN value

In [91]:
df.loc[:, (df.isna().sum()>0)]

,high_prec_timing_basin,low_prec_timing_basin,low_prec_timing_ERA5L_basin,q_mean_basin,runoff_ratio_basin,hfd_mean_basin,slope_fdc_basin,baseflow_index_ladson_basin,stream_elas_basin,high_q_freq_basin,...,slope_fdc_gauge,baseflow_index_ladson_gauge,hfd_mean_gauge,Q5_gauge,Q95_gauge,high_q_freq_gauge,high_q_dur_gauge,low_q_freq_gauge,low_q_dur_gauge,zero_q_freq_gauge
id,,,,,,,,,,,,,,,,,,,,,
79,djf,jja,mam,9.389,1.786,179.900,0.404,0.901,0.507,NaN,...,0.404174,0.900813,179.900000,7.497704,12.687769,NaN,NaN,NaN,NaN,0.0
98,djf,jja,mam,5.952,1.178,179.800,0.561,0.822,0.666,NaN,...,0.560945,0.821769,179.800000,4.036522,9.131344,NaN,NaN,NaN,NaN,0.0
25,djf,jja,mam,10.317,2.346,175.167,1.441,0.756,0.579,0.077,...,1.440679,0.755520,175.166667,2.592731,24.071443,0.077236,1.000000,10.581360,22.833333,0.0
1,djf,jja,jja,4.546,1.115,153.417,2.715,0.561,1.365,4.001,...,2.715291,0.560762,153.416667,0.996230,12.549089,4.000913,1.714286,6.084722,3.173913,0.0
34,son,jja,jja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,djf,jja,jja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,djf,jja,jja,6.365,1.014,NaN,3.767,0.388,0.929,24.223,...,3.766742,0.387571,NaN,0.418586,28.213980,24.222513,4.384615,110.276178,11.533333,0.0
77,djf,jja,jja,2.218,0.781,238.889,1.384,0.719,0.459,0.619,...,1.383765,0.718648,238.888889,0.960756,4.925316,0.618980,1.714286,0.670562,1.857143,0.0
80,djf,mam,mam,4.225,0.871,179.000,1.945,0.583,0.913,1.927,...,1.945021,0.583472,179.000000,1.272295,11.076516,1.926544,1.416667,0.339978,1.000000,0.0
72,son,jja,jja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

high_prec_timing_basin          4
low_prec_timing_basin           1
low_prec_timing_ERA5L_basin     2
q_mean_basin                   37
runoff_ratio_basin             37
hfd_mean_basin                 42
slope_fdc_basin                37
baseflow_index_ladson_basin    37
stream_elas_basin              37
high_q_freq_basin              67
high_q_dur_basin               67
Q95_basin                      37
low_q_freq_basin               70
low_q_dur_basin                70
Q5_basin                       37
g_mean_el_basin                47
g_min_el_basin                 47
g_max_el_basin                 47
g_aspect_basin                 47
g_slope_basin                  47
g_slopel20_basin               47
g_lon_basin                    47
g_lat_basin                    47
Q_all_basin                    37
P_ERA5L_all_basin              37
PET_ERA5L_all_basin            37
ET_ERA5L_all_basin             37
water_year_all_basin           37
P_rav_all_basin                37
PET_rav_all_basin              37
ET_rav_all_basin               37
Q_unfiltered_basin             14
P_ERA5L_unfiltered_basin       14
PET_ERA5L_unfiltered_basin     14
ET_ERA5L_unfiltered_basin      14
water_year_unfiltered_basin    14
P_rav_unfiltered_basin         14
PET_rav_unfiltered_basin       14
ET_rav_unfiltered_basin        14
gaps_hourly_gauge              35
q_mean_gauge                   37
runoff_ratio_gauge             37
stream_elas_gauge              37
slope_fdc_gauge                37
baseflow_index_ladson_gauge    37
hfd_mean_gauge                 42
Q5_gauge                       37
Q95_gauge                      37
high_q_freq_gauge              67
high_q_dur_gauge               67
low_q_freq_gauge               70
low_q_dur_gauge                70
zero_q_freq_gauge              37
dtype: int64

In [93]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

36
max_temp_C, mean_temp_C, min_temp_C, 2m_dp_temp_max, 2m_dp_temp_mean, 2m_dp_temp_min, 10m_wind_u,
10m_wind_v, fcst_alb, lai_high_veg, lai_low_veg, swe, surf_net_solar_rad_max,
surf_net_solar_rad_mean, surf_net_therm_rad_max, surf_net_therm_rad_mean, surf_press, total_et,
pcp_mm, pet_mm, volsw_123, volsw_4, ref_et_mm, surf_press_rav, total_et_rav, prec_carra,
2m_temp_rav, 10m_wind_u_rav, 10m_wind_v_rav, surf_dwn_therm_rad_rav, surf_outg_therm_rad_rav,
surf_dwn_solar_rad_rav, 2m_qv_rav, prec_rav, grdflx_rav, obs_q_cms

In [94]:
dataset = RainfallRunoff('LamaHIce', timestep='H', data_type='total_upstrm', path=gscad_path, verbosity=0)
print(dataset)

RainfallRunoff(LamaHIce) with 76 stations, 28 dynamic and 154 static features

In [95]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

area_calc_basin, elev_mean_basin, elev_med_basin, elev_ran_basin, elev_std_basin, slope_mean_basin,
mvert_dist_basin, mvert_ang_basin, asp_mean_basin, elon_ratio_basin, strm_dens_basin, p_mean_basin,
ref_et_mean_basin, aridity_basin, p_season_basin, frac_snow_basin, high_prec_fr_basin,
high_prec_du_basin, high_prec_timing_basin, lo_prec_fr_basin, low_prec_du_basin,
low_prec_timing_basin, p_mean_ERA5L_basin, pet_mean_ERA5L_basin, aridity_ERA5L_basin,
p_season_ERA5L_basin, frac_snow_ERA5L_basin, high_prec_fr_ERA5L_basin, high_prec_du_ERA5L_basin,
high_prec_timing_ERA5L_basin, lo_prec_fr_ERA5L_basin, low_prec_du_ERA5L_basin,
low_prec_timing_ERA5L_basin, q_mean_basin, runoff_ratio_basin, hfd_mean_basin, slope_fdc_basin,
baseflow_index_ladson_basin, stream_elas_basin, high_q_freq_basin, high_q_dur_basin, Q95_basin,
low_q_freq_basin, low_q_dur_basin, Q5_basin, lc_dom_basin, agr_fra_basin, bare_fra_basin,
forest_fra_basin, glac_fra_basin, lake_fra_basin, urban_fra_basin, scrub_fra_basin, wetl_fra_basin,
lai_max_basin, lai_diff_basin, ndvi_max_basin, ndvi_min_basin, gvf_max_basin, gvf_diff_basin,
bedrk_dep_basin, root_dep_basin, soil_poros_basin, soil_tawc_basin, sand_fra_basin, silt_fra_basin,
clay_fra_basin, grav_fra_basin, oc_fra_basin, gc_dom_basin, gc_pa_fra_basin, gc_pb_fra_basin,
gc_va_fra_basin, gc_vb_fra_basin, gc_23_dom_basin, gc_23_pavr_basin, gc_23_pb_basin,
gc_23_vapy_basin, gc_23_vbsr_basin, gc_23_vbpy_basin, gc_23_vb_basin, g_dom_NI_basin,
g621_fra_basin, g701_fra_basin, g743_fra_basin, g746_fra_basin, gbinn_fra_basin, ggnew_fra_basin,
ggold_fra_basin, ghraun_fra_basin, gbnew_fra_basin, gbold_fra_basin, gmob_fra_basin,
gsgos_fra_basin, gsinn_fra_basin, gsn_fra_basin, gsnew_fra_basin, gsold_fra_basin, g_frac_basin,
g_area_basin, g_mean_el_basin, g_min_el_basin, g_max_el_basin, g_aspect_basin, g_slope_basin,
g_slopel20_basin, g_lon_basin, g_lat_basin, degimpact_basin, typimpact_basin, Q_all_basin,
P_ERA5L_all_basin, PET_ERA5L_all_basin, ET_ERA5L_all_basin, water_year_all_basin, P_rav_all_basin,
PET_rav_all_basin, ET_rav_all_basin, Q_unfiltered_basin, P_ERA5L_unfiltered_basin,
PET_ERA5L_unfiltered_basin, ET_ERA5L_unfiltered_basin, water_year_unfiltered_basin,
P_rav_unfiltered_basin, PET_rav_unfiltered_basin, ET_rav_unfiltered_basin, V_no_gauge, name_gauge,
river_gauge, VHM_no_gauge, gaps_hourly_gauge, obsbeg_day_gauge, obsend_day_gauge, obsbeg_hr_gauge,
obsend_hr_gauge, typimpact_gauge, degimpact_gauge, elevation_gauge, lat_gauge, lon_gauge,
geometry_gauge, q_mean_gauge, runoff_ratio_gauge, stream_elas_gauge, slope_fdc_gauge,
baseflow_index_ladson_gauge, hfd_mean_gauge, Q5_gauge, Q95_gauge, high_q_freq_gauge,
high_q_dur_gauge, low_q_freq_gauge, low_q_dur_gauge, zero_q_freq_gauge

In [96]:
df = dataset.fetch_static_features()
print(df.shape)

(76, 154)

In [97]:
print(df.isna().sum().sum())
df.isna().sum()

1121

area_calc_basin       0
elev_mean_basin       0
elev_med_basin        0
elev_ran_basin        0
elev_std_basin        0
                     ..
high_q_freq_gauge    41
high_q_dur_gauge     41
low_q_freq_gauge     46
low_q_dur_gauge      46
zero_q_freq_gauge    18
Length: 154, dtype: int64

find those columns which have at least one NaN value

In [98]:
df.loc[:, (df.isna().sum()>0)]

,high_prec_timing_basin,low_prec_timing_ERA5L_basin,q_mean_basin,runoff_ratio_basin,hfd_mean_basin,slope_fdc_basin,baseflow_index_ladson_basin,stream_elas_basin,high_q_freq_basin,high_q_dur_basin,...,slope_fdc_gauge,baseflow_index_ladson_gauge,hfd_mean_gauge,Q5_gauge,Q95_gauge,high_q_freq_gauge,high_q_dur_gauge,low_q_freq_gauge,low_q_dur_gauge,zero_q_freq_gauge
id,,,,,,,,,,,,,,,,,,,,,
79,djf,mam,9.389,1.786,179.900,0.404,0.901,0.507,NaN,NaN,...,0.404174,0.900813,179.900000,7.497704,12.687769,NaN,NaN,NaN,NaN,0.0
98,djf,mam,5.952,1.178,179.800,0.561,0.822,0.666,NaN,NaN,...,0.560945,0.821769,179.800000,4.036522,9.131344,NaN,NaN,NaN,NaN,0.0
25,djf,mam,10.317,2.346,175.167,1.441,0.756,0.579,0.077,1.000,...,1.440679,0.755520,175.166667,2.592731,24.071443,0.077236,1.000000,10.581360,22.833333,0.0
1,djf,jja,4.546,1.115,153.417,2.715,0.561,1.365,4.001,1.714,...,2.715291,0.560762,153.416667,0.996230,12.549089,4.000913,1.714286,6.084722,3.173913,0.0
34,son,jja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,djf,mam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,djf,jja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,djf,jja,6.365,1.014,NaN,3.767,0.388,0.929,24.223,4.385,...,3.766742,0.387571,NaN,0.418586,28.213980,24.222513,4.384615,110.276178,11.533333,0.0
80,djf,mam,4.225,0.871,179.000,1.945,0.583,0.913,1.927,1.417,...,1.945021,0.583472,179.000000,1.272295,11.076516,1.926544,1.416667,0.339978,1.000000,0.0
72,son,jja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

high_prec_timing_basin          3
low_prec_timing_ERA5L_basin     2
q_mean_basin                   18
runoff_ratio_basin             18
hfd_mean_basin                 21
slope_fdc_basin                18
baseflow_index_ladson_basin    18
stream_elas_basin              18
high_q_freq_basin              41
high_q_dur_basin               41
Q95_basin                      18
low_q_freq_basin               46
low_q_dur_basin                46
Q5_basin                       18
g_mean_el_basin                36
g_min_el_basin                 36
g_max_el_basin                 36
g_aspect_basin                 36
g_slope_basin                  36
g_slopel20_basin               36
g_lon_basin                    36
g_lat_basin                    36
Q_all_basin                    18
P_ERA5L_all_basin              18
PET_ERA5L_all_basin            18
ET_ERA5L_all_basin             18
water_year_all_basin           18
P_rav_all_basin                18
PET_rav_all_basin              18
ET_rav_all_basin               18
Q_unfiltered_basin              3
P_ERA5L_unfiltered_basin        3
PET_ERA5L_unfiltered_basin      3
ET_ERA5L_unfiltered_basin       3
water_year_unfiltered_basin     3
P_rav_unfiltered_basin          3
PET_rav_unfiltered_basin        3
ET_rav_unfiltered_basin         3
q_mean_gauge                   18
runoff_ratio_gauge             18
stream_elas_gauge              18
slope_fdc_gauge                18
baseflow_index_ladson_gauge    18
hfd_mean_gauge                 21
Q5_gauge                       18
Q95_gauge                      18
high_q_freq_gauge              41
high_q_dur_gauge               41
low_q_freq_gauge               46
low_q_dur_gauge                46
zero_q_freq_gauge              18
dtype: int64

In [100]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

28
mean_temp_C, 2m_dp_temp, 10m_wind_u, 10m_wind_v, fcst_alb, lai_high_veg, lai_low_veg, swe,
surf_net_solar_rad, surf_net_therm_rad, surf_press, total_et, pcp_mm, pet_mm, volsw_123, volsw_4,
surf_press_rav, total_et_rav, 2m_temp_rav, 10m_wind_u_rav, 10m_wind_v_rav, surf_dwn_therm_rad_rav,
surf_outg_therm_rad_rav, surf_dwn_solar_rad_rav, 2m_qv_rav, prec_rav, grdflx_rav, obs_q_cms

## HYSETS

In [101]:
dataset = RainfallRunoff('HYSETS', path=os.path.join(gscad_path, 'HYSETS'), verbosity=0)
print(dataset)

RainfallRunoff(HYSETS) with 14425 stations, 5 dynamic and 28 static features

In [102]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

Source, Name, Official_ID, Centroid_Lat_deg_N, Centroid_Lon_deg_E, Drainage_Area_km2,
Drainage_Area_GSIM_km2, Flag_GSIM_boundaries, Flag_Artificial_Boundaries, Elevation_m, Slope_deg,
Gravelius, Perimeter, Flag_Shape_Extraction, Aspect_deg, Flag_Terrain_Extraction,
Land_Use_Forest_frac, Land_Use_Grass_frac, Land_Use_Wetland_frac, Land_Use_Water_frac,
Land_Use_Urban_frac, Land_Use_Shrubs_frac, Land_Use_Crops_frac, Land_Use_Snow_Ice_frac,
Flag_Land_Use_Extraction, Permeability_logk_m2, Porosity_frac, Flag_Subsoil_Extraction

In [103]:
df = dataset.fetch_static_features()
print(df.shape)

(14425, 28)

In [104]:
print(df.isna().sum().sum())
df.isna().sum()

20179

Source                            0
Name                              0
Official_ID                       0
Centroid_Lat_deg_N                0
Centroid_Lon_deg_E                0
Drainage_Area_km2                 0
Drainage_Area_GSIM_km2        13561
Flag_GSIM_boundaries              0
Flag_Artificial_Boundaries        0
Elevation_m                       6
Slope_deg                         6
Gravelius                      1633
Perimeter                      1633
Flag_Shape_Extraction             0
Aspect_deg                        6
Flag_Terrain_Extraction           0
Land_Use_Forest_frac             13
Land_Use_Grass_frac              13
Land_Use_Wetland_frac            13
Land_Use_Water_frac              13
Land_Use_Urban_frac              13
Land_Use_Shrubs_frac             13
Land_Use_Crops_frac              13
Land_Use_Snow_Ice_frac           13
Flag_Land_Use_Extraction          0
Permeability_logk_m2           1615
Porosity_frac                  1615
Flag_Subsoil_Extraction           0
dtype: int64

find those columns which have at least one NaN value

In [105]:
df.loc[:, (df.isna().sum()>0)]

,Drainage_Area_GSIM_km2,Elevation_m,Slope_deg,Gravelius,Perimeter,Aspect_deg,Land_Use_Forest_frac,Land_Use_Grass_frac,Land_Use_Wetland_frac,Land_Use_Water_frac,Land_Use_Urban_frac,Land_Use_Shrubs_frac,Land_Use_Crops_frac,Land_Use_Snow_Ice_frac,Permeability_logk_m2,Porosity_frac
Watershed_ID,,,,,,,,,,,,,,,,
1,NaN,362.3,3.5329,2.7834,1194.505,130.4023,0.7869,0.0147,0.0645,0.0258,0.0089,0.0749,0.0242,0.0,-14.719327,0.180905
2,NaN,353.4,4.6633,2.0656,269.164,91.7329,0.8452,0.0102,0.0228,0.0219,0.0174,0.0410,0.0414,0.0,-14.056491,0.206450
3,2693.814,293.3,4.4690,2.0620,381.994,223.9510,0.8207,0.0093,0.0032,0.0487,0.0230,0.0351,0.0600,0.0,-14.537390,0.165357
4,NaN,276.5,4.1819,2.4682,413.839,120.7400,0.6837,0.0226,0.1024,0.0630,0.0115,0.0641,0.0528,0.0,-14.687869,0.170597
5,NaN,201.8,2.8061,NaN,NaN,56.8902,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14421,NaN,1987.9,17.1982,2.0752,208.852,28.9860,0.5356,0.0330,0.0000,0.0000,0.0202,0.0170,0.3941,0.0,-13.160658,0.096755
14422,NaN,769.5,6.5921,1.5715,325.714,110.5607,0.1348,0.3106,0.0025,0.0024,0.0305,0.0300,0.4874,0.0,-12.698509,0.119993
14423,NaN,1883.2,14.7005,2.5953,1621.229,224.3422,0.8674,0.0437,0.0000,0.0026,0.0027,0.0429,0.0408,0.0,-12.976926,0.090284
14424,NaN,1791.2,12.1021,2.4269,1288.932,184.5177,0.7720,0.1524,0.0000,0.0013,0.0029,0.0474,0.0241,0.0,-12.968686,0.094042
14425,NaN,2179.1,5.9444,2.0769,165.762,112.0832,0.1605,0.5639,0.0000,0.0012,0.0091,0.1116,0.1536,0.0,-12.792099,0.168963

In [106]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

Drainage_Area_GSIM_km2    13561
Elevation_m                   6
Slope_deg                     6
Gravelius                  1633
Perimeter                  1633
Aspect_deg                    6
Land_Use_Forest_frac         13
Land_Use_Grass_frac          13
Land_Use_Wetland_frac        13
Land_Use_Water_frac          13
Land_Use_Urban_frac          13
Land_Use_Shrubs_frac         13
Land_Use_Crops_frac          13
Land_Use_Snow_Ice_frac       13
Permeability_logk_m2       1615
Porosity_frac              1615
dtype: int64

In [107]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

5
discharge, swe, tasmin, tasmax, pr

## GRDCCaravan

In [108]:
dataset = RainfallRunoff('GRDCCaravan', path=gscad_path, verbosity=0)
print(dataset)

RainfallRunoff(GRDCCaravan) with 5357 stations, 39 dynamic and 211 static features

In [109]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

gauge_lat, gauge_lon, gauge_name, country, area, sgr_dk_sav, glc_pc_s06, glc_pc_s07, nli_ix_sav,
glc_pc_s04, glc_pc_s05, glc_pc_s02, glc_pc_s03, glc_pc_s01, pet_mm_syr, glc_pc_s08, glc_pc_s09,
swc_pc_s09, ele_mt_smx, tbi_cl_smj, swc_pc_s01, swc_pc_s02, swc_pc_s03, swc_pc_s04, swc_pc_s05,
swc_pc_s06, swc_pc_s07, swc_pc_s08, crp_pc_sse, glc_pc_s22, glc_pc_s20, glc_pc_s21, wet_pc_sg1,
wet_pc_sg2, pac_pc_sse, swc_pc_s10, swc_pc_s11, swc_pc_s12, clz_cl_smj, gwt_cm_sav, glc_pc_s17,
glc_pc_s18, hft_ix_s93, glc_pc_s15, ire_pc_sse, glc_pc_s16, glc_pc_s13, prm_pc_sse, glc_pc_s14,
glc_pc_s11, glc_pc_s12, glc_pc_s10, kar_pc_sse, slp_dg_sav, glc_pc_s19, tmp_dc_s07, tmp_dc_s08,
tmp_dc_s05, tmp_dc_s06, tmp_dc_s09, for_pc_sse, aet_mm_s06, aet_mm_s05, aet_mm_s08, aet_mm_s07,
aet_mm_s09, tmp_dc_s10, tmp_dc_s11, aet_mm_s02, aet_mm_s01, tmp_dc_s12, aet_mm_s04, aet_mm_s03,
lit_cl_smj, tmp_dc_s03, tmp_dc_s04, tmp_dc_s01, tmp_dc_s02, cls_cl_smj, pre_mm_syr, pnv_pc_s01,
pnv_pc_s04, pnv_pc_s05, pnv_pc_s02, rdd_mk_sav, ele_mt_smn, pnv_pc_s03, pnv_pc_s08, pnv_pc_s09,
pnv_pc_s06, pnv_pc_s07, wet_cl_smj, snw_pc_syr, pnv_pc_s11, pnv_pc_s12, pnv_pc_s10, pnv_pc_s15,
pnv_pc_s13, pnv_pc_s14, cmi_ix_syr, pet_mm_s11, pet_mm_s12, pet_mm_s10, tmp_dc_smn, wet_pc_s08,
wet_pc_s09, slt_pc_sav, wet_pc_s02, wet_pc_s03, wet_pc_s01, hdi_ix_sav, wet_pc_s06, wet_pc_s07,
wet_pc_s04, wet_pc_s05, fec_cl_smj, glc_cl_smj, swc_pc_syr, hft_ix_s09, soc_th_sav, gdp_ud_sav,
gdp_ud_ssu, tmp_dc_smx, cly_pc_sav, pet_mm_s02, pet_mm_s03, pet_mm_s01, snw_pc_smx, ppd_pk_sav,
pet_mm_s08, aet_mm_s11, pet_mm_s09, aet_mm_s10, pet_mm_s06, pet_mm_s07, aet_mm_s12, pet_mm_s04,
pet_mm_s05, inu_pc_slt, ero_kh_sav, aet_mm_syr, cmi_ix_s10, cmi_ix_s11, cmi_ix_s12, ari_ix_sav,
tmp_dc_syr, tec_cl_smj, fmh_cl_smj, inu_pc_smn, pnv_cl_smj, pre_mm_s08, pre_mm_s09, run_mm_syr,
pre_mm_s06, pre_mm_s07, pre_mm_s04, pre_mm_s05, snd_pc_sav, pre_mm_s02, pre_mm_s03, ele_mt_sav,
pre_mm_s01, urb_pc_sse, lka_pc_sse, pre_mm_s10, snw_pc_s01, snw_pc_s02, snw_pc_s03, snw_pc_s04,
snw_pc_s05, snw_pc_s06, gla_pc_sse, snw_pc_s07, snw_pc_s08, snw_pc_s09, inu_pc_smx, pre_mm_s11,
pre_mm_s12, cmi_ix_s07, cmi_ix_s08, cmi_ix_s05, cmi_ix_s06, cmi_ix_s09, snw_pc_s10, snw_pc_s11,
snw_pc_s12, cmi_ix_s03, cmi_ix_s04, cmi_ix_s01, cmi_ix_s02, pst_pc_sse, dis_m3_pmn, dis_m3_pmx,
dis_m3_pyr, lkv_mc_usu, rev_mc_usu, ria_ha_usu, riv_tc_usu, pop_ct_usu, dor_pc_pva,
area_fraction_used_for_aggregation, p_mean, pet_mean, aridity, frac_snow, moisture_index,
seasonality, high_prec_freq, high_prec_dur, low_prec_freq, low_prec_dur

In [110]:
df = dataset.fetch_static_features()
print(df.shape)

(5357, 211)

In [111]:
print(df.isna().sum().sum())
df.isna().sum()

0

gauge_lat         0
gauge_lon         0
gauge_name        0
country           0
area              0
                 ..
seasonality       0
high_prec_freq    0
high_prec_dur     0
low_prec_freq     0
low_prec_dur      0
Length: 211, dtype: int64

find those columns which have at least one NaN value

In [112]:
if df.isna().sum().sum()>0:
    df.loc[:, (df.isna().sum()>0)]
else:
    print('No NaN values')

No NaN values

In [113]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

Series([], dtype: float64)

In [114]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

39
snow_depth_water_equivalent_mean, surface_net_solar_radiation_mean,
surface_net_thermal_radiation_mean, surface_pressure_mean, mean_temp_C,
dewpoint_temperature_2m_mean, u_component_of_wind_10m_mean, v_component_of_wind_10m_mean,
volumetric_soil_water_layer_1_mean, volumetric_soil_water_layer_2_mean,
volumetric_soil_water_layer_3_mean, volumetric_soil_water_layer_4_mean,
snow_depth_water_equivalent_min, surface_net_solar_radiation_min, surface_net_thermal_radiation_min,
surface_pressure_min, max_temp_C, dewpoint_temperature_2m_min, u_component_of_wind_10m_min,
v_component_of_wind_10m_min, volumetric_soil_water_layer_1_min, volumetric_soil_water_layer_2_min,
volumetric_soil_water_layer_3_min, volumetric_soil_water_layer_4_min,
snow_depth_water_equivalent_max, surface_net_solar_radiation_max, surface_net_thermal_radiation_max,
surface_pressure_max, temperature_2m_max, dewpoint_temperature_2m_max, u_component_of_wind_10m_max,
v_component_of_wind_10m_max, volumetric_soil_water_layer_1_max, volumetric_soil_water_layer_2_max,
volumetric_soil_water_layer_3_max, volumetric_soil_water_layer_4_max, pcp_mm,
potential_evaporation_sum, obs_q_cms

## Bull

In [115]:
dataset = RainfallRunoff('Bull', path=gscad_path, verbosity=0)
print(dataset)

RainfallRunoff(Bull) with 484 stations, 55 dynamic and 214 static features

In [116]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

dis_m3_pmn, aet_mm_s11, nli_ix_sav, hdi_ix_sav, tmp_dc_smx, snw_pc_s04, cmi_ix_s03, gauge_lat,
crp_pc_sse, wet_pc_s04, pre_mm_s05, tmp_dc_s02, gla_pc_sse, area, swc_pc_s09, kar_pc_sse,
pnv_pc_s03, cmi_ix_s02, glc_pc_s06, cmi_ix_syr, ppd_pk_sav, glc_pc_s11, tmp_dc_s08, ari_ix_sav,
glc_pc_s03, swc_pc_s01, pnv_pc_s12, wet_pc_s05, snw_pc_s11, aet_mm_s03, pst_pc_sse, glc_cl_smj,
pnv_pc_s15, pet_mm_syr, pnv_pc_s07, wet_pc_s08, pnv_pc_s10, run_mm_syr, snw_pc_s06, glc_pc_s12,
tec_cl_smj, wet_pc_sg2, low_prec_dur, gwt_cm_sav, tmp_dc_s06, pre_mm_s02, pre_mm_s03, pnv_pc_s05,
ire_pc_sse, sgr_dk_sav, snw_pc_s09, pet_mm_s11, area_fraction_used_for_aggregation, tmp_dc_s07,
swc_pc_s02, hft_ix_s09, aridity, swc_pc_s07, swc_pc_s10, cly_pc_sav, aet_mm_s02, cmi_ix_s10,
pre_mm_s04, glc_pc_s04, clz_cl_smj, glc_pc_s14, snw_pc_s01, wet_pc_sg1, snw_pc_s12, pet_mean,
pnv_pc_s06, slt_pc_sav, gdp_ud_ssu, pre_mm_s08, moisture_index, glc_pc_s10, swc_pc_s08, snw_pc_s07,
glc_pc_s01, tmp_dc_s09, pnv_cl_smj, swc_pc_s03, pnv_pc_s09, tbi_cl_smj, pre_mm_s09, fmh_cl_smj,
ria_ha_usu, wet_pc_s07, aet_mm_s07, hft_ix_s93, pet_mm_s03, pop_ct_usu, slp_dg_sav, cmi_ix_s01,
gauge_name, cmi_ix_s12, country, swc_pc_s04, wet_pc_s09, glc_pc_s21, cls_cl_smj, aet_mm_s06,
pnv_pc_s08, lka_pc_sse, low_prec_freq, pnv_pc_s02, snd_pc_sav, glc_pc_s08, pre_mm_s12, snw_pc_s03,
pre_mm_s10, swc_pc_s05, swc_pc_s12, high_prec_freq, aet_mm_s10, cmi_ix_s08, wet_pc_s03, fec_cl_smj,
area_hydroatlas, ele_mt_smx, snw_pc_s02, tmp_dc_s11, rev_mc_usu, aet_mm_s08, pet_mm_s02, pnv_pc_s13,
inu_pc_smx, glc_pc_s07, tmp_dc_s01, glc_pc_s20, wet_pc_s01, wet_cl_smj, tmp_dc_s04, wet_pc_s02,
aet_mm_s09, prm_pc_sse, tmp_dc_s05, pet_mm_s08, cmi_ix_s06, snw_pc_s10, glc_pc_s16, glc_pc_s15,
snw_pc_syr, snw_pc_s05, soc_th_sav, pet_mm_s01, snw_pc_s08, frac_snow, glc_pc_s22, rdd_mk_sav,
pre_mm_syr, pre_mm_s01, pre_mm_s11, pre_mm_s06, aet_mm_syr, glc_pc_s19, gdp_ud_sav, cmi_ix_s04,
dis_m3_pyr, pre_mm_s07, wet_pc_s06, inu_pc_slt, p_mean, glc_pc_s02, aet_mm_s05, ero_kh_sav,
seasonality, lkv_mc_usu, aet_mm_s01, ele_mt_smn, swc_pc_syr, non-altered, urb_pc_sse, pet_mm_s07,
pet_mm_s10, snw_pc_smx, pet_mm_s04, tmp_dc_syr, ele_mt_sav, aet_mm_s12, dor_pc_pva, tmp_dc_s03,
tmp_dc_smn, tmp_dc_s12, pnv_pc_s04, pnv_pc_s14, gauge_lon, glc_pc_s18, lit_cl_smj, glc_pc_s09,
swc_pc_s11, tmp_dc_s10, pac_pc_sse, high_prec_dur, pet_mm_s12, pnv_pc_s11, riv_tc_usu, NSE,
cmi_ix_s05, pet_mm_s06, inu_pc_smn, pet_mm_s05, pnv_pc_s01, for_pc_sse, dis_m3_pmx, swc_pc_s06,
cmi_ix_s09, glc_pc_s05, pet_mm_s09, glc_pc_s13, cmi_ix_s07, aet_mm_s04, glc_pc_s17, cmi_ix_s11

In [117]:
df = dataset.fetch_static_features()
print(df.shape)

(484, 214)

In [118]:
print(df.isna().sum().sum())
df.isna().sum()

0

dis_m3_pmn    0
aet_mm_s11    0
nli_ix_sav    0
hdi_ix_sav    0
tmp_dc_smx    0
             ..
glc_pc_s13    0
cmi_ix_s07    0
aet_mm_s04    0
glc_pc_s17    0
cmi_ix_s11    0
Length: 214, dtype: int64

find those columns which have at least one NaN value

In [119]:
if df.isna().sum().sum()>0:
    df.loc[:, (df.isna().sum()>0)]
else:
    print('No NaN values')

No NaN values

In [120]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

Series([], dtype: float64)

In [121]:
print(dataset.num_dynamic())
print(dataset.dynamic_features)

55
['streamflow', 'temperature_max_AEMET', 'temperature_min_AEMET', 'temperature_mean_AEMET', 'total_precipitation_AEMET', 'potential_evapotranspiration_AEMET', 'snow_depth_water_equivalent_mean_BULL', 'surface_net_solar_radiation_mean_BULL', 'surface_net_thermal_radiation_mean_BULL', 'surface_pressure_mean_BULL', 'temperature_2m_mean_BULL', 'dewpoint_temperature_2m_mean_BULL', 'u_component_of_wind_10m_mean_BULL', 'v_component_of_wind_10m_mean_BULL', 'volumetric_soil_water_layer_1_mean_BULL', 'volumetric_soil_water_layer_2_mean_BULL', 'volumetric_soil_water_layer_3_mean_BULL', 'volumetric_soil_water_layer_4_mean_BULL', 'snow_depth_water_equivalent_min_BULL', 'surface_net_solar_radiation_min_BULL', 'surface_net_thermal_radiation_min_BULL', 'surface_pressure_min_BULL', 'temperature_2m_min_BULL', 'dewpoint_temperature_2m_min_BULL', 'u_component_of_wind_10m_min_BULL', 'v_component_of_wind_10m_min_BULL', 'volumetric_soil_water_layer_1_min_BULL', 'volumetric_soil_water_layer_2_min_BULL', 'volumetric_soil_water_layer_3_min_BULL', 'volumetric_soil_water_layer_4_min_BULL', 'snow_depth_water_equivalent_max_BULL', 'surface_net_solar_radiation_max_BULL', 'surface_net_thermal_radiation_max_BULL', 'surface_pressure_max_BULL', 'temperature_2m_max_BULL', 'dewpoint_temperature_2m_max_BULL', 'u_component_of_wind_10m_max_BULL', 'v_component_of_wind_10m_max_BULL', 'volumetric_soil_water_layer_1_max_BULL', 'volumetric_soil_water_layer_2_max_BULL', 'volumetric_soil_water_layer_3_max_BULL', 'volumetric_soil_water_layer_4_max_BULL', 'total_precipitation_sum_BULL', 'potential_evaporation_sum_BULL', 'streamflow_BULL', 'temperature_max_ERA5_Land', 'temperature_min_ERA5_Land', 'temperature_mean_ERA5_Land', 'total_precipitation_ERA5_Land', 'potential_evapotranspiration_ERA5_Land', 'temperature_max_EMO1_arc', 'temperature_min_EMO1_arc', 'temperature_mean_EMO1_arc', 'total_precipitation_EMO1_arc', 'potential_evapotranspiration_EMO1_arc']

## WaterBenchIowa

In [122]:
dataset = RainfallRunoff('WaterBenchIowa', path=gscad_path, verbosity=0)
print(dataset)

RainfallRunoff(WaterBenchIowa) with 125 stations, 3 dynamic and 7 static features

In [123]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

travel_time, area, slope, loam, silt, sandy_clay_loam, silty_clay_loam

In [124]:
df = dataset.fetch_static_features()
print(df.shape)

(125, 7)

In [125]:
print(df.isna().sum().sum())
df.isna().sum()

0

travel_time        0
area               0
slope              0
loam               0
silt               0
sandy_clay_loam    0
silty_clay_loam    0
dtype: int64

find those columns which have at least one NaN value

In [126]:
if df.isna().sum().sum()>0:
    df.loc[:, (df.isna().sum()>0)]
else:
    print('No NaN values')

No NaN values

In [127]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

Series([], dtype: float64)

In [128]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

3
precipitation, et, discharge

## CCAM

In [129]:
dataset = RainfallRunoff('CCAM', path=gscad_path, verbosity=0)
print(dataset)

RainfallRunoff(CCAM) with 102 stations, 16 dynamic and 124 static features

In [130]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

area, barren, bdticm, bldfie_sl1, bldfie_sl2, bldfie_sl3, bldfie_sl4, bldfie_sl5, bldfie_sl6,
bldfie_sl7, cecsol_sl1, cecsol_sl2, cecsol_sl3, cecsol_sl4, cecsol_sl5, cecsol_sl6, cecsol_sl7,
circulatory_ratio, clay, closed_shrubland, compactness_coefficient, cropland,
cropland_natural_vegetaion, deciduous_broadleaf_tree, deciduous_needleleaf_tree, elev,
elongation_ratio, ev, evergreen_broadleaf_tree, evergreen_needleleaf_tree, evp_mean, form_factor,
frac_snow_daily, geol_permeability, geol_porosity, grassland, grav, gst_mean, high_prec_dur,
high_prec_freq, high_prec_timing, ig, lai_dif, lai_max, lat, length, length_continuous_runoff,
log_k_s_l1, log_k_s_l2, log_k_s_l3, log_k_s_l4, log_k_s_l5, log_k_s_l6, lon, low_prec_dur,
low_prec_freq, low_prec_timing, mixed_forest, mt, nd, ndvi_mean, open_shrubland, orcdrc_sl1,
orcdrc_sl2, orcdrc_sl3, orcdrc_sl4, orcdrc_sl5, orcdrc_sl6, orcdrc_sl7, pa, pb, pdep,
permanent_wetland, pet_mean, phihox_sl1, phihox_sl2, phihox_sl3, phihox_sl4, phihox_sl5, phihox_sl6,
phihox_sl7, pi, pop, pop_dnsty, por, pre_mean, prs_mean, py, rhu_mean, root_depth_50, root_depth_99,
sand, savanna, sc, shape_factor, silt, slope, sm, snow_and_ice, som, ss, ssd_mean, su, tem_mean,
theta_s_l1, theta_s_l2, theta_s_l3, theta_s_l4, theta_s_l5, theta_s_l6, tksatu_l1, tksatu_l2,
tksatu_l3, tksatu_l4, tksatu_l5, tksatu_l6, urban_and_built-up_land, va, vb, vi, water_bodies, wb,
win_mean, woody_savanna

In [131]:
df = dataset.fetch_static_features()
print(df.shape)

(102, 124)

In [132]:
print(df.isna().sum().sum())
df.isna().sum()

0

area             0
barren           0
bdticm           0
bldfie_sl1       0
bldfie_sl2       0
                ..
vi               0
water_bodies     0
wb               0
win_mean         0
woody_savanna    0
Length: 124, dtype: int64

find those columns which have at least one NaN value

In [133]:
if df.isna().sum().sum()>0:
    df.loc[:, (df.isna().sum()>0)]
else:
    print('No NaN values')

No NaN values

In [134]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

Series([], dtype: float64)

In [135]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

16
pre, evp, gst_mean, prs_mean, tem_mean, rhu, win_mean, gst_min, prs_min, tem_min, gst_max, prs_max,
tem_max, ssd, win_max, q

## CABra

In [136]:
dataset = RainfallRunoff('CABra', path=gscad_path, verbosity=0)
print(dataset)

RainfallRunoff(CABra) with 735 stations, 12 dynamic and 97 static features

In [137]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

ANA_ID, clim_p, clim_tmin, clim_tmax, clim_rh, clim_wind, clim_srad, clim_et, clim_pet,
aridity_index, p_seasonality, clim_quality, ANA_ID, longitude, latitude, gauge_hreg, gauge_biome,
gauge_state, missing_data, series_length, quality_index, ANA_ID, catch_lith, sub_porosity,
sub_permeability, sub_hconduc, ANA_ID, aquif_name, aquif_type, catch_wtd, catch_hand, hand_class,
well_number, well_static, well_dynamic, ANA_ID, dist_urban, cover_urban, cover_crops, res_number,
res_area, res_volume, res_regulation, water_demand, hdisturb_index, ANA_ID, cover_main, cover_bare,
cover_forest, cover_crops, cover_grass, cover_moss, cover_shrub, cover_urban, cover_snow,
cover_waterp, cover_waters, ndvi_djf, ndvi_mam, ndvi_jja, ndvi_son, ANA_ID, soil_type,
soil_textclass, soil_sand, soil_silt, soil_clay, soil_carbon, soil_bulk, soil_depth, ANA_ID, q_mean,
q_1, q_5, q_95, q_99, q_lf, q_ld, q_hf, q_hd, q_hfd, q_zero, q_cv, q_lcv, q_hcv, q_elasticity,
fdc_slope, baseflow_index, runoff_coef, ANA_ID, catch_area, elev_mean, elev_min, elev_max,
elev_gauge, catch_slope, catch_order

In [138]:
df = dataset.fetch_static_features()
print(df.shape)

(735, 97)

In [139]:
print(df.isna().sum().sum())
df.isna().sum()

0

ANA_ID         0
clim_p         0
clim_tmin      0
clim_tmax      0
clim_rh        0
              ..
elev_min       0
elev_max       0
elev_gauge     0
catch_slope    0
catch_order    0
Length: 97, dtype: int64

find those columns which have at least one NaN value

In [140]:
if df.isna().sum().sum()>0:
    df.loc[:, (df.isna().sum()>0)]
else:
    print('No NaN values')

No NaN values

In [141]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

Series([], dtype: float64)

In [142]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

12
p_ens, tmin_ens, tmax_ens, rh_ens, wnd_ens, srad_ens, et_ens, pet_pm, pet_pt, pet_hg, Quality,
Streamflow

## Simbi

In [143]:
dataset = RainfallRunoff('Simbi', path= gscad_path, verbosity=0)
print(dataset)

RainfallRunoff(Simbi) with 70 stations, 3 dynamic and 232 static features

In [144]:
print(textwrap.fill(", ".join(dataset.static_features), width=100))

Stream_density, Savannahs with other presence_lc_98, Dense agroforestry systems_lc_98, Forest_lc_98,
Medium-density agricultural crops_lc_98, Pasture with other presence_lc_98, River beds & recent
alluvium_lc_98, Dense agricultural crops_lc_98, Rock outcrops & bare soil_lc_98, Savannahs_lc_98,
Wetlands_lc_98, Water plan_lc_98, Discontinuous urban_lc_98, Continuous urban_lc_98,
Mangroves_lc_98, Beaches & dunes_lc_98, Saline areas_lc_98, Ports & airports_lc_98, Dominant
pastures_lc_98, Quarry_lc_98, Industrial areas_lc_98, Mixed Forest_lc_95, Open Shrubland_lc_95,
Woodland_lc_95, Deciduous Needleleaf Forest_lc_95, Evergreen Broadleaf Forest_lc_95,
Grassland_lc_95, Water_lc_95, Wooded Grassland_lc_95, Closed Shrubland_lc_95, Urban_lc_95,
Cropland_lc_95, Evergreen Needleleaf Forest_lc_95, Deciduous Broadleaf Forest_lc_95, Hard
limestone_geol, Andesites & rhyodacites_geol, Alluvium & detrital materials_geol, Diorite &
tonalite_geol, Flysch & sandstone & limestone_geol, Marl & sand_geol, Basalt_geol, Marl & marly
limestone_geol, Volcano-sedimentary rock_geol, Ultrabasic rocks_geol, Marly limestone_geol, Lon_Exu,
Lat_Exu, Lon_Cent, Lat_Cent, Area, Gravelius, Slope, Min_Elv, Max_Elv, Sd_Elv, Cumul_Freq_1%,
Cumul_Freq_2%, Cumul_Freq_3%, Cumul_Freq_4%, Cumul_Freq_5%, Cumul_Freq_6%, Cumul_Freq_7%,
Cumul_Freq_8%, Cumul_Freq_9%, Cumul_Freq_10%, Cumul_Freq_11%, Cumul_Freq_12%, Cumul_Freq_13%,
Cumul_Freq_14%, Cumul_Freq_15%, Cumul_Freq_16%, Cumul_Freq_17%, Cumul_Freq_18%, Cumul_Freq_19%,
Cumul_Freq_20%, Cumul_Freq_21%, Cumul_Freq_22%, Cumul_Freq_23%, Cumul_Freq_24%, Cumul_Freq_25%,
Cumul_Freq_26%, Cumul_Freq_27%, Cumul_Freq_28%, Cumul_Freq_29%, Cumul_Freq_30%, Cumul_Freq_31%,
Cumul_Freq_32%, Cumul_Freq_33%, Cumul_Freq_34%, Cumul_Freq_35%, Cumul_Freq_36%, Cumul_Freq_37%,
Cumul_Freq_38%, Cumul_Freq_39%, Cumul_Freq_40%, Cumul_Freq_41%, Cumul_Freq_42%, Cumul_Freq_43%,
Cumul_Freq_44%, Cumul_Freq_45%, Cumul_Freq_46%, Cumul_Freq_47%, Cumul_Freq_48%, Cumul_Freq_49%,
Cumul_Freq_50%, Cumul_Freq_51%, Cumul_Freq_52%, Cumul_Freq_53%, Cumul_Freq_54%, Cumul_Freq_55%,
Cumul_Freq_56%, Cumul_Freq_57%, Cumul_Freq_58%, Cumul_Freq_59%, Cumul_Freq_60%, Cumul_Freq_61%,
Cumul_Freq_62%, Cumul_Freq_63%, Cumul_Freq_64%, Cumul_Freq_65%, Cumul_Freq_66%, Cumul_Freq_67%,
Cumul_Freq_68%, Cumul_Freq_69%, Cumul_Freq_70%, Cumul_Freq_71%, Cumul_Freq_72%, Cumul_Freq_73%,
Cumul_Freq_74%, Cumul_Freq_75%, Cumul_Freq_76%, Cumul_Freq_77%, Cumul_Freq_78%, Cumul_Freq_79%,
Cumul_Freq_80%, Cumul_Freq_81%, Cumul_Freq_82%, Cumul_Freq_83%, Cumul_Freq_84%, Cumul_Freq_85%,
Cumul_Freq_86%, Cumul_Freq_87%, Cumul_Freq_88%, Cumul_Freq_89%, Cumul_Freq_90%, Cumul_Freq_91%,
Cumul_Freq_92%, Cumul_Freq_93%, Cumul_Freq_94%, Cumul_Freq_95%, Cumul_Freq_96%, Cumul_Freq_97%,
Cumul_Freq_98%, Cumul_Freq_99%, Cumul_Freq_100%, Alluvial aquifers with free water, Low permeability
sedimentary formation, Karst aquifer, Crystalline formation, Fissured & partitioned carbonate
aquifers, Highly permeable fissured & porous carbonate aquifers, Carbonate aquifers with marl
intercalation, More productive alluvial area, Alluvial aquifers with partly confined water,
Carb_Rocks_Perc, Sedim_Perc, Magma_Perc, BFI_d, BFI1_d, BFI2_d, BFI3_d, Q_mm_d_hq_dur,
Q1_mm_d_hq_dur, Q2_mm_d_hq_dur, Q3_mm_d_hq_dur, Q_mm_d_hq_freq, Q1_mm_d_hq_freq, Q2_mm_d_hq_freq,
Q3_mm_d_hq_freq, Q_mm_d_lq_dur, Q1_mm_d_lq_dur, Q2_mm_d_lq_dur, Q3_mm_d_lq_dur, Q_mm_d_lq_freq,
Q1_mm_d_lq_freq, Q2_mm_d_lq_freq, Q3_mm_d_lq_freq, Q_mm_d_mean, Q1_mm_d_mean, Q2_mm_d_mean,
Q3_mm_d_mean, Q_mm_d_q5, Q1_mm_d_q5, Q2_mm_d_q5, Q3_mm_d_q5, Q_mm_d_q95, Q1_mm_d_q95, Q2_mm_d_q95,
Q3_mm_d_q95, Aridity_mon_arid, Runoff_Ratio_mon_arid, P_mon_avg, Temp_mon_avg, ETP_mon_avg,
Q_mon_avg, Q1_mon_avg, Q2_mon_avg, Q3_mon_avg, P_min5_mon_QMNA5, Q_min5_mon_QMNA5,
Q1_min5_mon_QMNA5, Q2_min5_mon_QMNA5, Q3_min5_mon_QMNA5, P_max10_mon_QMXA10, Q_max10_mon_QMXA10,
Q1_max10_mon_QMXA10, Q2_max10_mon_QMXA10, Q3_max10_mon_QMXA10, P_5_mon_q5, Temp_5_mon_q5,
ETP_5_mon_q5, Q_5_mon_q5, Q1_5_mon_q5, Q2_5_mon_q5, Q3_5_mon_q5, P_95_mon_q95, Temp_95_mon_q95,
ETP_95_mon_q95, Q_95_mon_q95, Q1_95_mon_q95, Q2_95_mon_q95, Q3_95_mon_q95

In [145]:
df = dataset.fetch_static_features()
print(df.shape)

(24, 232)

In [146]:
print(df.isna().sum().sum())
df.isna().sum()

96

Stream_density                             0
Savannahs with other presence_lc_98        0
Dense agroforestry systems_lc_98           0
Forest_lc_98                               0
Medium-density agricultural crops_lc_98    0
                                          ..
ETP_95_mon_q95                             0
Q_95_mon_q95                               0
Q1_95_mon_q95                              0
Q2_95_mon_q95                              0
Q3_95_mon_q95                              0
Length: 232, dtype: int64

find those columns which have at least one NaN value

In [147]:
df.loc[:, (df.isna().sum()>0)]

,BFI_d,BFI1_d,BFI2_d,BFI3_d,Q_mm_d_hq_dur,Q1_mm_d_hq_dur,Q2_mm_d_hq_dur,Q3_mm_d_hq_dur,Q_mm_d_hq_freq,Q1_mm_d_hq_freq,...,Q2_mm_d_mean,Q3_mm_d_mean,Q_mm_d_q5,Q1_mm_d_q5,Q2_mm_d_q5,Q3_mm_d_q5,Q_mm_d_q95,Q1_mm_d_q95,Q2_mm_d_q95,Q3_mm_d_q95
001,0.49,0.46,0.68,0.55,1.62,2.12,5.00,3.67,0.86,2.43,...,1.15,1.18,0.4,0.2,0.3,0.2,3.10,3.30,2.70,3.10
004,0.38,0.59,0.38,0.42,2.00,1.98,3.62,3.71,5.00,5.38,...,2.27,2.23,0.6,0.6,0.3,0.3,4.80,6.90,8.60,8.15
006,0.50,0.47,0.66,0.61,1.89,1.90,3.26,2.72,1.00,5.52,...,1.21,1.36,0.4,0.5,0.4,0.4,3.60,4.10,3.20,3.50
007,0.47,0.49,0.53,0.50,2.33,2.65,1.62,1.96,2.50,5.05,...,2.08,2.04,0.5,0.3,0.5,0.5,5.50,6.00,5.60,5.60
008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
010,0.32,0.29,0.21,0.31,2.85,6.08,3.61,5.23,8.23,20.86,...,2.30,2.19,0.4,0.2,0.1,0.1,6.70,7.00,7.60,7.10
023,0.20,0.16,0.34,0.29,1.91,3.65,3.11,4.37,7.79,20.14,...,1.86,1.81,0.3,0.2,0.2,0.2,5.58,6.90,6.20,6.70
024,0.42,0.38,0.42,0.39,1.75,3.38,2.14,2.27,2.75,15.14,...,1.43,1.38,0.1,0.3,0.5,0.4,3.70,4.70,4.50,4.50
029,0.39,0.38,0.28,0.33,1.56,2.43,3.51,3.18,2.71,6.95,...,2.01,2.13,0.7,0.2,0.1,0.1,4.50,6.50,6.20,6.30
036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
037,0.41,0.24,0.47,0.34,1.33,9.02,3.51,7.03,0.38,36.10,...,0.80,0.71,0.2,0.0,0.0,0.0,2.90,2.60,3.00,2.90
041,0.39,0.39,0.61,0.52,0.00,6.14,2.00,4.06,0.00,14.90,...,0.94,0.93,0.2,0.0,0.0,0.0,3.00,3.30,3.10,3.20
044,0.25,0.32,0.28,0.36,1.38,7.22,6.06,11.37,9.86,40.24,...,0.81,0.89,0.2,0.0,0.0,0.0,4.46,4.25,4.10,4.10
045,0.42,0.52,0.39,0.44,1.60,2.95,1.85,2.15,0.17,2.95,...,0.44,0.43,0.1,0.1,0.1,0.1,1.00,1.20,1.25,1.10
051,0.18,0.23,0.21,0.13,2.27,3.62,2.89,3.22,12.00,13.10,...,2.15,1.61,0.2,0.1,0.2,0.1,4.50,3.80,7.95,6.00
052,0.29,0.49,0.62,0.58,3.11,1.90,2.53,2.44,33.50,2.71,...,3.01,2.88,0.0,0.2,1.0,0.8,9.96,8.40,8.70,8.70
053,0.12,0.31,0.10,0.11,1.89,2.30,6.26,8.01,14.33,12.62,...,2.85,2.72,0.2,0.4,0.0,0.0,6.90,9.00,16.95,15.60
056,0.15,0.22,0.49,0.47,1.78,3.49,4.20,4.84,10.55,11.29,...,1.32,1.28,0.1,0.1,0.3,0.2,4.30,4.00,4.00,4.30
057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
058,0.32,0.29,0.27,0.06,2.32,3.71,5.87,6.16,20.00,38.29,...,1.12,1.50,0.1,0.1,0.0,0.0,2.80,8.00,4.80,6.80
060,0.26,0.44,0.53,0.41,2.17,3.03,2.42,2.20,9.67,9.67,...,1.47,1.48,0.2,0.3,0.4,0.4,4.80,5.00,4.00,4.50
061,0.30,0.33,0.49,0.41,1.85,2.41,2.38,2.35,6.92,12.71,...,3.11,2.87,0.6,0.4,0.7,0.5,8.90,9.10,9.30,9.20
065,0.25,0.28,0.34,0.31,2.30,2.39,2.81,2.37,11.75,17.52,...,1.70,1.72,0.2,0.3,0.3,0.3,6.00,6.20,5.90,6.20
068,0.52,0.55,0.55,0.55,2.12,2.67,2.53,3.12,2.83,3.05,...,2.09,2.31,0.6,0.4,0.3,0.3,4.60,6.60,4.90,6.10

In [148]:
df.loc[:, (df.isna().sum()>0)].isna().sum()

BFI_d              3
BFI1_d             3
BFI2_d             3
BFI3_d             3
Q_mm_d_hq_dur      3
Q1_mm_d_hq_dur     3
Q2_mm_d_hq_dur     3
Q3_mm_d_hq_dur     3
Q_mm_d_hq_freq     3
Q1_mm_d_hq_freq    3
Q2_mm_d_hq_freq    3
Q3_mm_d_hq_freq    3
Q_mm_d_lq_dur      3
Q1_mm_d_lq_dur     3
Q2_mm_d_lq_dur     3
Q3_mm_d_lq_dur     3
Q_mm_d_lq_freq     3
Q1_mm_d_lq_freq    3
Q2_mm_d_lq_freq    3
Q3_mm_d_lq_freq    3
Q_mm_d_mean        3
Q1_mm_d_mean       3
Q2_mm_d_mean       3
Q3_mm_d_mean       3
Q_mm_d_q5          3
Q1_mm_d_q5         3
Q2_mm_d_q5         3
Q3_mm_d_q5         3
Q_mm_d_q95         3
Q1_mm_d_q95        3
Q2_mm_d_q95        3
Q3_mm_d_q95        3
dtype: int64

In [149]:
print(dataset.num_dynamic())
print(textwrap.fill(", ".join(dataset.dynamic_features), width=100))

3
q, pcp, temp